<footer class="footer">
    <div class="content">
        <div class="footer-logo">
            <h3 class="footer-logo__text">Digital Commerce Accelerator</h3>
            <a class="footer-logo__href" href="/" title="Benova - Gestão ponta a ponta do seu e-commerce">
                <img class="footer-logo__image" src="/assets/images/footer/footer-logoBenova.webp" alt="Benova" title="Benova - Gestão ponta a ponta do seu e-commerce" loading="lazy">
            </a>
        </div>

        <div class="footer-columns">
            <ul class="footer-column">
                <li class="footer-item">
                    <a class="footer-text" target="_blank" rel="nofollow" href="https://goo.gl/maps/5J5pcUrK3BXCXiXW6">
                        <address>
                            Rua Zelia Moura dos Santos, 101<br>Sala 421, 4º Andar<br>Cristo Rei - Curitiba - PR<br>Cep.: 80.050-605
                        </address>
                    </a>
                </li>
            </ul>

            <ul class="footer-column">
                <li class="footer-item">
                    <a class="footer-text" target="_blank" href="mailto:oi@benova.ag" title="E-mail">E-mail: oi@benova.ag</a>
                </li>
                <li class="footer-item">
                    <a class="footer-text" target="_blank" href="https://wa.me/5541995223266" title="Whatsapp">WhatsApp: (41) 99522-3266</a>
                </li>
                <li  class="footer-item">
                    <a class="footer-text" target="_blank" href="tel:+554135006820" title="Telefone">Telefone: (41) 3500-6820</a>
                </li>
            </ul>

            <ul class="footer-column">
                <li class="footer-title">Parceiros</li>
                <li class="footer-item">
                    <ul class="footer-partners">
                        <li class="footer-partners__item">
                            <a class="footer-partners__href" target="_blank" rel="nofollow" href="https://vtex.com/" title="Plataforma VTEX de comércio para Ecommerce B2B & B2C, Marketplace, OMS e mais">
                                <img class="footer-partners__image" src="/assets/images/footer/footer-partnersVtex.webp" alt="VTEX" title="Plataforma VTEX de comércio para Ecommerce B2B & B2C, Marketplace, OMS e mais" loading="lazy">
                            </a>
                        </li>
                        <li class="footer-partners__item">
                            <a class="footer-partners__href" target="_blank" rel="nofollow" href="https://www.totvs.com/" title="TOTVS - A maior empresa de tecnologia do Brasil">
                                <img class="footer-partners__image" src="/assets/images/footer/footer-partnersTotvs.webp" alt="TOTVS" title="TOTVS - A maior empresa de tecnologia do Brasil" loading="lazy">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="footer-column">
                <li class="footer-title">Siga-nos</li>
                <li class="footer-item">
                    <ul class="footer-social">
                        <li class="footer-social__item">
                            <a class="footer-social__href" target="_blank" rel="nofollow" href="https://www.facebook.com/benova.digital/" title="Facebook">
                                <span class="footer-social__icon footer-social__facebook"></span>
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a class="footer-social__href" target="_blank" rel="nofollow" href="https://www.linkedin.com/company/benova%C2%AE-digital-experience" title="LinkedIn">
                                <span class="footer-social__icon footer-social__linkedin"></span>
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a class="footer-social__href" target="_blank" rel="nofollow" href="https://www.instagram.com/benova.ag/" title="Instagram">
                                <span class="footer-social__icon footer-social__instagram"></span>
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a class="footer-social__href" target="_blank" rel="nofollow" href="https://open.spotify.com/show/6nL1CiPCaRYqtef56McNJp" title="Spotify">
                                <span class="footer-social__icon footer-social__spotify"></span>
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a class="footer-social__href" target="_blank" rel="nofollow" href="https://www.deezer.com/br/show/2296962" title="Deezer">
                                <span class="footer-social__icon footer-social__deezer"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="footer-column__gptw">
                <li class="footer-item">
                    <a class="footer-gptw__href" target="_blank" rel="nofollow" href="https://certificadas.gptw.com.br/certificada/benova" title="Great Place To Work">
                        <img class="foooter-gptw__image" src="/assets/images/footer/footer-stampGptw.webp" alt="Great Place To Work" title="Great Place To Work" loading="lazy">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/assets/js/menu.js"></script>