<header class="header">
    <div class="content-large">
        <div class="header-columns">
            <a class="header-logo" href="/">
                <img class="header-logo__image" src="/assets/images/header/header-logoBenova.webp" alt="Benova - Digital Commerce Accelerator" title="Benova - Digital Commerce Accelerator" loading="lazy">
            </a>
            <button class="header-menu" type="button" onclick="openMenu()">
                <img class="header-menu__image" src="/assets/images/header/header-menu.webp" alt="Menu" title="Menu" loading="lazy">
            </button>
        </div>
    </div>
</header>

<nav class="menu">
    <ul class="menu-items">
        <li class="menu-logo">
            <a class="menu-logo__href" href="/">
                <img class="menu-logo__image" src="/assets/images/header/header-logoBenova.webp" alt="Benova - Digital Commerce Accelerator" title="Benova - Digital Commerce Accelerator" loading="lazy">
            </a>
        </li>

        <li class="menu-fechar">
            <button class="menu-fechar__button" type="button" onclick="openMenu()">
                <img class="menu-fechar__image" src="/assets/images/header/header-menuFechar.webp" alt="Fechar Menu" title="Fechar Menu" loading="lazy">
            </button>
        </li>

        <li class="menu-item">
            <a class="menu-item__title" href="/benova" alt="" title="">A Benova</a>
            {{>menu/menu-benova}}
        </li>
        <li class="menu-item">
            <a class="menu-item__title" href="/servicos" alt="" title="">Serviços</a>
            {{!-- {{>menu/menu-servicos}} --}}
        </li>
        <li class="menu-item">
            <a class="menu-item__title" href="/modelo-de-negocios" alt="" title="">Modelo de Negócios</a>
            {{!-- {{>menu/menu-negocios}} --}}
        </li>

        <li class="menu-bottom">
            <ul class="menu-social">
                <li class="menu-social__item">
                    <a class="menu-social__href" target="_blank" rel="nofollow" href="https://www.facebook.com/benova.digital/" title="Facebook">
                        <span class="menu-social__icon menu-social__facebook"></span>
                    </a>
                </li>
                <li class="menu-social__item">
                    <a class="menu-social__href" target="_blank" rel="nofollow" href="https://www.linkedin.com/company/benova%C2%AE-digital-experience" title="LinkedIn">
                        <span class="menu-social__icon menu-social__linkedin"></span>
                    </a>
                </li>
                <li class="menu-social__item">
                    <a class="menu-social__href" target="_blank" rel="nofollow" href="https://www.instagram.com/benova.ag/" title="Instagram">
                        <span class="menu-social__icon menu-social__instagram"></span>
                    </a>
                </li>
                <li class="menu-social__item">
                    <a class="menu-social__href" target="_blank" rel="nofollow" href="https://open.spotify.com/show/6nL1CiPCaRYqtef56McNJp" title="Spotify">
                        <span class="menu-social__icon menu-social__spotify"></span>
                    </a>
                </li>
                <li class="menu-social__item">
                    <a class="menu-social__href" target="_blank" rel="nofollow" href="https://www.deezer.com/br/show/2296962" title="Deezer">
                        <span class="menu-social__icon menu-social__deezer"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>