<header class="header">
    <div class="content-large">
        <div class="header-columns">
            <a class="header-logo" href="/">
                <img class="header-logo__image" src="/assets/images/header/header-logoBenova.webp" alt="Benova - Digital Commerce Accelerator" title="Benova - Digital Commerce Accelerator" loading="lazy">
            </a>
            <button class="header-menu" type="button">
                <img class="header-menu__image" src="/assets/images/header/header-menu.webp" alt="Menu" title="Menu" loading="lazy">
            </button>
        </div>
    </div>
</header>

<nav>
    <ul>
        <li>
            <span>a benova</span>
            {{>menu/menu-benova}}
        </li>
        <li>
            <span>serviços</span>
            <ul>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <span>modelos</span>
            <ul>
                <li>

                </li>
            </ul>
        </li>

        <li>
            <ul>

            </ul>
            <ul>

            </ul>
        </li>
    </ul>
</nav>