<section class="menu-item__content">
    <div class="content-menu">
        <div class="menu-content__items menu-content__business">
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">B2B</h3>
                <p class="menu-content__subtitle">
                    Business to Business. Atuamos em todas as fases, do planejamento, cadastros de preços e produtos, integrações, operação, gestão e manutenção.
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__two">B2C</h3>
                <p class="menu-content__subtitle">
                    Business to Consumer. Além de total planejamento, damos apoio em todas as etapas como cadastros, validações fiscais, manutenção, jornada de compra e checkout.
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__three">Marketplaces</h3>
                <p class="menu-content__subtitle">
                    Colocamos seu mercado digital dentro dos principais marketplaces do mercado, com total consultoria a análise estratégica para aumentar ainda mais suas vendas.
                </p>
            </div>
        </div>
    </div>
</section>