<section class="menu-item__content">
    <div class="content-menu">

        <h3 class="menu-content__title menu-color__one">A Benova</h3>
        <p class="menu-content__text">
            Desde 2014, ajudamos empresas a alcançarem seus resultados e obterem sucesso no meio digital. Entendendo as necessidades de cada projeto e trazendo resultados reais para nossos clientes, são as razões que nos motivam todos os dias. Conectamos Pessoas com o mundo digital de forma inteligente e eficiente, gerando melhores resultados através de nossas ações, entregando o nosso melhor, que é o mínimo esperado de cada um de nós.
        </p>

        <div class="menu-content__items menu-content__history">
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2014</h3>
                <p class="menu-content__subtitle">
                    Nasce um<br>sonho
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2015</h3>
                <p class="menu-content__subtitle">
                    Primeiro<br>Espaço Físico
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2016</h3>
                <p class="menu-content__subtitle">
                    Expansão<br>da empresa
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2017</h3>
                <p class="menu-content__subtitle">
                    Nova sede<br>da empresa IBQP
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2018</h3>
                <p class="menu-content__subtitle">
                    Resultados reconhecidos<br>nas principais plataformas
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2019</h3>
                <p class="menu-content__subtitle">
                    Novas conquistas<br>e desafios
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2020</h3>
                <p class="menu-content__subtitle">
                    Evolução e crescimento<br>do time Benova
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">2022</h3>
                <p class="menu-content__subtitle">
                    Crescimento e<br>reconhecimento constantes
                </p>
            </div>
        </div>

        <div class="menu-content__items">
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">+ de 7 anos</h3>
                <p class="menu-content__subtitle">
                    de experiência no<br>mercado.
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__two">+ de 700 lojas</h3>
                <p class="menu-content__subtitle">
                    Implementadas por<br>nossa equipe.
                </p>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__three">+ de 30 colaboradores</h3>
                <p class="menu-content__subtitle">
                    em diversas regiões<br>do Brasil.
                </p>
            </div>
        </div>
    </div>
</section>
