<section class="menu-item__content">
    <div class="content-menu">

        <div class="menu-content__items menu-content__services">
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">One-Stop Shop</h3>
                <p class="menu-content__subtitle">
                    Otimize sua operação online sem depender de limitações financeiras e físicas. O One-Stop-Shop veio para ajudar você a posicionar seu negócio de maneira rentável e efetiva, melhorando a experiência final de seu consumidor.
                </p>
                <div class="menu-content__button">
                    <a class="menu-content__href" href="/servicos/one-stop-shop" title="Ir para One-Stop Shop">
                        Saiba mais...
                    </a>
                </div>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__two">Modular Management</h3>
                <p class="menu-content__subtitle">
                    Customize sua operação online de acordo com seu modelo de negócio. Com o Modular Management você pode selecionar serviços que irão potencializar ainda mais sua rentabilidade.
                </p>
                <div class="menu-content__button">
                    <a class="menu-content__href" href="/servicos/modular-management" title="Ir para Modular Management">
                        Saiba mais...
                    </a>
                </div>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__three">Start</h3>
                <p class="menu-content__subtitle">
                    Focando em melhoria e otimização de negócios virtuais, disponibilizamos consultores experts para análises de seu negócio, indicando pontos de melhorias para alcançar resultados promissores.
                </p>
                <div class="menu-content__button">
                    <a class="menu-content__href" href="/servicos/start" title="Ir para Start">
                        Saiba mais...
                    </a>
                </div>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__one">Deployment</h3>
                <p class="menu-content__subtitle">
                    Planejamento, criação, execução e publicação. Com esses pilares fazemos a Implantação de sua loja de forma ágil trazendo agilidade e ganhos significativos para sua operação.
                </p>
                <div class="menu-content__button">
                    <a class="menu-content__href" href="/servicos/deployment" title="Ir para Deployment">
                        Saiba mais...
                    </a>
                </div>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__two">Evolution</h3>
                <p class="menu-content__subtitle">
                    Impulsione sua loja online com funcionalidades e tecnologias que atendam as necessidades de seu negócio. Com uma análise minuciosa, oferecemos soluções que irão potencializar suas vendas.
                </p>
                <div class="menu-content__button">
                    <a class="menu-content__href" href="/servicos/evolution" title="Ir para Evolution">
                        Saiba mais...
                    </a>
                </div>
            </div>
            <div class="menu-content__item">
                <h3 class="menu-content__title menu-color__three">Performance</h3>
                <p class="menu-content__subtitle">
                    Combinando análises de dados e otimizações, impactamos diferentes usuários do funil de vendas com o objetivo de acelerar a descoberta, a consideração e a conversão dentro de sua loja virtual.
                </p>
                <div class="menu-content__button">
                    <a class="menu-content__href" href="/servicos/performance" title="Ir para Performance">
                        Saiba mais...
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>