<body>
    <link rel="stylesheet" type="text/css" href="/css/benova.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <div class="content page-benova">
            {{>menu/menu-benova}}
        </div>

        {{>form}}
    </main>

    {{>footer}}
</body>