<body class="page-business">
    <link rel="stylesheet" type="text/css" href="/assets/css/business/business.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="business">
            <div class="content">
                <h1 class="business-title">Modelo de<br>Negócios</h1>
                <p class="business-subtitle">
                    Estruturamos como sua empresa cria, entrega e captura valor para o seu cliente.
                </p>
            </div>
        </section>

        <section class="business-items">
            <div class="business-item business-item__left">
                <img class="business-item__image" src="/assets/images/business/business-B2B.webp" alt="B2B" title="B2B" loading="lazy">
                <div class="business-item__texts">
                    <div class="business-item__flex">
                        <h2 class="business-item__title">B2B</h2>
                    </div>
                    <p class="business-texts__middle">Estudamos sua operação e fazemos a leitura para o planejamento estratégico pensado para suas vendas corporativas e aumento de leads.</p>
                    <p class="business-texts__small business-texts__margin">
                        <strong>Com o modelo B2B, traremos para você grandes vantagens para seu negócio, como?</strong>
                    </p>
                    <ul class="business-item__lists">
                        <li class="business-item__list">Maior rentabilidade com precificação de produto mais alta.</li>
                        <li class="business-item__list">Previsibilidade e relacionamentos a longo prazo.</li>
                        <li class="business-item__list">Escalabilidade, trazendo a capacidade de crescimento acelerado.</li>
                        <li class="business-item__list">Definições de ICP (Perfil de Cliente Ideal)</li>
                        <li class="business-item__list">Criações de Estratégias específicas.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="business-items">
            <div class="business-item business-item__right">
                <div class="business-item__texts">
                    <div class="business-item__flex">
                        <h2 class="business-item__title">B2C</h2>
                    </div>
                    <p class="business-texts__middle">Ajudamos você a conquistar seu consumidor final, com uma proposta que agrega valor à sua marca com estratégia de marketing e relacionamento.</p>
                    <p class="business-texts__small business-texts__margin">
                        Fazemos você ganhar destaque e se sobressair no mercado, alcançando seu consumidor e o convencendo a comprar seu produto com estratégias que trarão:
                    </p>
                    <ul class="business-item__lists">
                        <li class="business-item__list">Fidelização de seus clientes</li>
                        <li class="business-item__list">Recorrência</li>
                        <li class="business-item__list">Maiores chances de Upsell</li>
                        <li class="business-item__list">Relacionamento</li>
                        <li class="business-item__list">Marketing</li>
                    </ul>
                </div>
                <img class="business-item__image" src="/assets/images/business/business-B2C.webp" alt="B2C" title="B2C" loading="lazy">
            </div>
        </section>

        <section class="business-items">
            <div class="business-item business-item__left">
                <img class="business-item__image" src="/assets/images/business/business-marketplace.webp" alt="Marketplace" title="Marketplace" loading="lazy">
                <div class="business-item__texts">
                    <div class="business-item__flex">
                        <h2 class="business-item__title">Marketplace</h2>
                    </div>
                    <p class="business-texts__middle">Damos total auxílio para gestão de pedidos, cadastros, precificação de produtos e atendimento nos canais de venda.</p>
                    <p class="business-texts__small business-texts__margin">
                        Tenha controle total de seu orçamento, vendendo seus produtos de forma simples e rápida em um universo que não para de se expandir, além de lhe trazer grandes vantagens como:
                    </p>
                    <strong class="business-texts__small">Dentro do Evolution, você garante:</strong>
                    <ul class="business-item__lists">
                        <li class="business-item__list">Aumento do volume de visitas</li>
                        <li class="business-item__list">Praticidade</li>
                        <li class="business-item__list">Maior Reputação</li>
                    </ul>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>