<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="https://uau.bobinex.com.br/" title="Ir para o site da Uau Bobinex">
                <img class="case-banner__image" src="/images/case/case-bannerBobinex.webp" alt="Uau Bobinex" title="Uau Bobinex">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">Uau Bobinex</h1>
                <p class="case-banner__subtitle">
                    Mobiliário / Decoração
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">Porta voz da Decoração acessível e descomplicada</h2>
                <a class="case-item__href" target="_blank" href="https://uau.bobinex.com.br/" title="Ir para o site da Uau Bobinex">
                    <img class="case-item__image" src="/images/case/case-logoUauBobinex.webp" alt="Uau Bobinex" title="Uau Bobinex">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    Mais de 50 anos de experiência e atuação de mercado para oferecer ao seu público a oportunidade para quem gosta de transformar ambientes em lugares únicos e exclusivos. Para isso, a UAU, conta parcerias com diversos cri@tivos, tendo a liberdade para criação de inúmeros produtos e estampas, sempre conciliando tendências do Design mundial, com o melhor do nosso país.
                    <br>Com um acompanhamento longo e duradouro, a Benova não ficou de fora e trouxe novas soluções com consultorias e aplicações que tornaram a UAU BOBINEX ainda mais consolidada em seu propósito.
                </p>
            </div>
        </section>

        <section class="case-background case-background__bobinex">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="https://uau.bobinex.com.br/" title="Ir para o site da Uau Bobinex">
                    <img class="case-background__image" src="/images/case/case-mockupBobinex.webp" alt="Uau Bobinex" title="Uau Bobinex">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">O desafio</h3>
                        <p class="case-background__text">
                            Fazer a migração de plataforma e reformular o layout do site aplicando novos conceitos de acordo com a nova identidade visual, também trazer mais funcionalidades aléms das aplicadas na plataforma anterior e criarndo novas customizações, enriquecer o conteúdo da página de produto e otimizar a manutenção do conteúdo das páginas.<br>Nossa equipe de UX/UI e de Desenvolvimento pegou como desafio a criação de aplicativos customizados e exclusivos para a UAU Bobinex e também um layout inovador, totalmente centrado no usuário e na experiência de navegação.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">Nossa entrega</h3>
                        <p class="case-background__text">
                            Um novo layout dentro das expectativas do cliente com calculadora de dimensões, que auxilia tanto o cliente como a equipe de vendas da UAU BOBINEX, para identificar com precisão quantas unidades do produto ele precisa para atender suas necessidades.<br>Também criamos aplicativos VTEX IO com funcionalidade de "compre junto" personalizada, que chamamos de Curadoria, onde apresentamos uma decoração de um ambiente e o cliente pode comprar todos os itens ou apenas os selecionados.<br>Entregamos páginas customizadas, Landing Pages, para os artista que criam coleções de produtos e na página de produto, um Guia de medidas que ilustra os tamanhos dos produtos.<br>Tivemos o cuidado de seguir boas práticas de usabilidade e principalmente responsividade, envolvenvo desde do layout inovador e com estruturas bem alinhadas até a preocupação em manter a qualidade das imagens dos produtos a UAU BOBINEX.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>