<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="https://www.cabralmotor.com.br/" title="Ir para o site da Cabral Motors">
                <img class="case-banner__image" src="/images/case/case-bannerCabralMotors.webp" alt="Cabral Motors" title="Cabral Motors">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">Cabral Motors</h1>
                <p class="case-banner__subtitle">
                    Loja Automotiva
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">A primeira concessionária Honda do Brasil</h2>
                <a class="case-item__href" target="_blank" href="https://www.cabralmotor.com.br/" title="Ir para o site da Cabral Motors">
                    <img class="case-item__image" src="/images/case/case-logoCabralMotors.webp" alt="Cabral Motors" title="Cabral Motors">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    A primeira e mais antiga concessionária Honda no Brasil. Iniciou suas atividades em 1954, comercializando peças e automóveis. No início dos anos 70, separava um pequeno espaço para vender as tão desejadas motos Honda, que eram importadas do Japão, assim nascia ali a primeira concessionária Honda em terras tupiniquins.
                    <br>Tudo começou no Centro Histórico de Curitiba, na Alameda Cabral 67, onde permanece até hoje com uma estrutura moderna e ampla. 
                    <br>Já em 2003 ampliou suas instalações, com a unidade em São José e em 2008 mais uma filial, a unidade em Colombo.
                    Prezando pela confiança, transparência e seriedade, se mantém líder em vendas de motos Honda em Curitiba.
                    Com esses mesmos pilares, a Benova aceitou o desafio de trazer a Cabral Motor para o universo e-commerce.
                </p>
            </div>
        </section>

        <section class="case-background case-background__cabral">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="https://www.cabralmotor.com.br/" title="Ir para o site da Cabral Motors">
                    <img class="case-background__image" src="/images/case/case-mockupCabralMotors.webp" alt="Cabral Motors" title="Cabral Motors">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">O desafio</h3>
                        <p class="case-background__text">
                            A Cabral Motor trabalha com foco em venda de motocicletas Honda, onde os principais focos de venda, são financiamento e consórcio.
                            <br>O desafio desse projeto, era trazer para a loja virtual, a compra através desses dois canais de vendas. Tanto o financiamento como o consórcio, possuem um fluxo bem completo e burocrático para a finalização e aprovação de uma compra. Conduzir o usuário a seguir esse fluxo de forma ágil e sem complicações, integrar as informações de formulários com o cadastro do usuário e integrar as informações com o checkout, foram os principais desafios da Benova, tudo isso alinhado com um layout agradável e moderno.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">Nossa entrega</h3>
                        <p class="case-background__text">
                            Uma loja com layout diferenciado e com visual moderno. Trouxemos um menu totalmente customizado com imagens das motocicletas Honda, opções de financiamento e consórcio com fácil acesso ao cliente Cabral.<br>Com foco nas vendas por financiamento e consórcio, criamos páginas específicas para esses modelos de negócio, trazendo mais praticidade para o fechamento de um consórcio e também do financiamento, integrando os dados essenciais do cliente com a página de fechamento, sem desvios de atenção ou mais burocracia.<br>Também criamos e desenvolvemos uma página customizada para seleção de motocicletes a partir de característcas de uso, como Scooter, Offroad, Street e outras, facilitando ainda mais a escolha de acordo com a necessidade do cliente.<br>A página de produto também merece destaque, com uma usabilidade exclusiva para não perder o foco da venda.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>