<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="" title="Ir para o site da Dex">
                <img class="case-banner__image" src="/images/case/case-bannerDex.webp" alt="Dex" title="Dex">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">Dex</h1>
                <p class="case-banner__subtitle">
                    Indústria Automobilística
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">Empresa expecializada em peças Volvo</h2>
                <a class="case-item__href" target="_blank" href="" title="Ir para o site da Dex">
                    <img class="case-item__image" src="/images/case/case-logoDex.webp" alt="Dex" title="Dex">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    Principal braço da VOLVO no Brasil dentro do segmento de peças para caminhões e ônibus da marca.
                    <br>Teve início em 2003, com sede em Curitiba, com o objetivo principal, contribuir na manutenção dos caminhões e ônibus Volvo. Com o compromisso de selecionar todos os componentes genuínos e garantir que todas as peças renovadas, assegurem funcionalidade e segurança.
                    <br>A Benova veio para entregar um projeto que está alinhado com esse propósito, garantindo o aumento das vendas online de peças e aumentar a receita da principal representante VOLVO em peças para caminhões e ônibus.
                </p>
            </div>
        </section>

        <section class="case-background case-background__dex">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="" title="Ir para o site da Dex">
                    <img class="case-background__image" src="/images/case/case-mockupDex.webp" alt="Dex" title="Dex">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">O desafio</h3>
                        <p class="case-background__text">
                            Com uma variedade de peças Volvo para caminhões e ônibus, além de criar uma loja com usabilidade voltada para os clientes DEX, o desafio foi desenvolver uma ferramenta pensada nos usuários que compram peças Volvo para seus veículos, disponibilizando de forma prática e ágil, a escolha da peça através de seleção das principais características dos automóveis, como tipo do veículo, modelo e linha.<br>A integração de tal ferramenta com o ERP foi outro ponto crucial para proporcionar o funcionamento correto dessa aplicação.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">Nossa entrega</h3>
                        <p class="case-background__text">
                            O time Benova, com todo o seu Know-how em VTEX, estudo as melhores práticas em Usabilidade e Desenvolvimento para entregar uma funcionalidade diferenciada para nosso cliente. Com toda nossa expertise, criamos e desenvolvemos um aplicativo exclusivo de filtro de busca para os produtos da DEX. O filtro é apresentado já na Home da loja, onde o usuário investe pouco tempo para buscar o produto que procura, baseando nas características do veículo.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>