<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="https://www.outlet.crocs.com.br/" title="Ir para o site da Crocs">
                <img class="case-banner__image" src="/images/case/case-bannerCrocs.webp" alt="Crocs" title="Crocs">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">Crocs</h1>
                <p class="case-banner__subtitle">
                    Calçados / Moda
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">Lídermundial em calçados casuais e inovadores</h2>
                <a class="case-item__href" target="_blank" href="https://www.outlet.crocs.com.br/" title="Ir para o site da Crocs">
                    <img class="case-item__image" src="/images/case/case-logoCrocs.webp" alt="Crocs" title="Crocs">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    Líder mundial em calçados casuais e inovadores. Com um amplo portfólio de produtos, consegue manter sua forte tradição em calçados moldados há mais de 20 anos.
                    <br>Desde sua criação, a Crocs vendeu mais de 300 milhões de calçados em 90 países diferentes ao redor do mundo.
                    <br>Com todo esse histórico de sucesso, nós da Benova, nos propusemos a entregar um projeto à altura da Crocs, um projeto customizado e usabilidade impecável para aumentar ainda mais a performance de vendas do líder no mercado de calçados moldados.
                </p>
            </div>
        </section>

        <section class="case-background case-background__crocs">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="https://www.outlet.crocs.com.br/" title="Ir para o site da Crocs">
                    <img class="case-background__image" src="/images/case/case-mockupCrocs.webp" alt="Crocs" title="Crocs">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">O desafio</h3>
                        <p class="case-background__text">
                            Com a entrada da Crocs no Mercado Shops, o desafio era trazer um layout alinhado com a loja oficial em termos de design, performance e agilidade. Algumas funcionalidades de usabilidade na loja oficial da Crocs, eram essenciais para o projeto na plataforma Mercado Shops, se tornando mais um desafio para o time Benova, que estava pronto para mostrar todo o Know-How em UX/UI e Desenvolvimento de lojas Mercado Shops. A customização de um menu que trouxesse uma experiência ágil para escolha de calçados se tornou mais um estudo do time da Benova, para trazer para esse novo ambiente, uma usabilidade mais objetiva para a melhoria de busca de calçados Crocs.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">Nossa entrega</h3>
                        <p class="case-background__text">
                            A Benova trouxe um layout totalmente customizado e diferenciado para o Mercado Shops, entregando um projeto e superando as expectativas do cliente, com uma loja dentro da linguagem visual da CROCS, mantendo assim a qualidade da entrega final. Com funcionalidades nunca vistas nessa plataforma, a equipe de Desenvolvimento trabalhou com dedicação para aplicar funções que melhoram a navegação dentro de um e-commerce. Tudo isso alinhando com um layout focado na experiência do usuário, em que a equipe de Criação desenvolveu um layout clean, agradável e seguindo todas as boas práticas de usabilidade. Mais um projeto Benova entregue, superando as expectativas do cliente.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>