<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/assets/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="" title="Ir para o site da Dex">
                <img class="case-banner__image" src="/assets/images/case/case-bannerDex.webp" alt="Dex" title="Dex">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">Dex</h1>
                <p class="case-banner__subtitle">
                    Indústria Automobilística
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">A primeira concessionária Honda do Brasil</h2>
                <a class="case-item__href" target="_blank" href="" title="Ir para o site da Dex">
                    <img class="case-item__image" src="/assets/images/case/case-logoDex.webp" alt="Dex" title="Dex">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    <strong>A Cabral Motors</strong> ibh sit amet ullamcorper rhoncus, diam erat molestie lorem, ac euismod nisi ipsum quis sapien. Aenean volutpat libero id tellus aliquam blandit. Donec malesuada eros et nunc porta tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam a lacus sem. In euismod, purus vitae dictum scelerisque, risus dolor lacinia leo, ac tincidunt ipsum ante a justo. Aenean aliquet, odio ac varius dictum, odio lorem porttitor quam, eu condimentum tellus est ac arcu. Proin non laoreet nisi. Sed eget rhoncus tellus. Aliquam ullamcorper massa eget dolor ultricies, vitae imperdiet leo faucibus. Fusce fringilla commodo orci, laoreet interdum elit cursus et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna purus, imperdiet scelerisque ullamcorper vitae, convallis quis lacus. Mauris neque turpis, vulputate a hendrerit at, varius vel augue.
                </p>
            </div>
        </section>

        <section class="case-background case-background__dex">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="" title="Ir para o site da Dex">
                    <img class="case-background__image" src="/assets/images/case/case-mockupDex.webp" alt="Dex" title="Dex">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">SEO</h3>
                        <p class="case-background__text">
                            A Cabral Motors ibh sit amet ullamcorper rhoncus, diam erat molestie lorem, ac euismod nisi ipsum quis sapien. Aenean volutpat libero id tellus aliquam blandit. Donec malesuada eros et nunc porta tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam a lacus sem. In euismod, purus vitae dictum scelerisque, risus dolor lacinia leo, ac tincidunt ipsum ante a justo. Aenean aliquet, odio ac varius dictum, odio lorem porttitor quam, eu condimentum tellus est ac arcu. Proin non laoreet nisi. Sed eget rhoncus tellus. Aliquam ullamcorper massa eget dolor ultricies, vitae imperdiet leo faucibus. Fusce fringilla commodo orci, laoreet interdum elit cursus et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna purus, imperdiet scelerisque ullamcorper vitae, convallis quis lacus. Mauris neque turpis, vulputate a hendrerit at, varius vel augue.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">UX Design</h3>
                        <p class="case-background__text">
                            A Cabral Motors ibh sit amet ullamcorper rhoncus, diam erat molestie lorem, ac euismod nisi ipsum quis sapien. Aenean volutpat libero id tellus aliquam blandit. Donec malesuada eros et nunc porta tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam a lacus sem. In euismod, purus vitae dictum scelerisque, risus dolor lacinia leo, ac tincidunt ipsum ante a justo. Aenean aliquet, odio ac varius dictum, odio lorem porttitor quam, eu condimentum tellus est ac arcu. Proin non laoreet nisi. Sed eget rhoncus tellus. Aliquam ullamcorper massa eget dolor ultricies, vitae imperdiet leo faucibus. Fusce fringilla commodo orci, laoreet interdum elit cursus et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna purus, imperdiet scelerisque ullamcorper vitae, convallis quis lacus. Mauris neque turpis, vulputate a hendrerit at, varius vel augue.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>