<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="https://www.branco.casa/" title="Ir para o site da Branco">
                <img class="case-banner__image" src="/images/case/case-bannerBranco.webp" alt="Branco" title="Branco">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">Branco</h1>
                <p class="case-banner__subtitle">
                    Mobiliário / Decoração
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">50 anos de experiência no mercado de papel de parede</h2>
                <a class="case-item__href" target="_blank" href="https://www.branco.casa/" title="Ir para o site da Branco">
                    <img class="case-item__image" src="/images/case/case-logoBranco.webp" alt="Branco" title="Branco">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    Marca Brasileira do grupo BOBINEX, possuindo experiência de mais de 50 anos no mercado de papel de parede. Com um conceito bem estabelecido de questionar e trazer novas tendências, a Branco está em constante busca por artistas que ajudem o público a enxergar além do produto e do design, sempre acreditando no poder transformador.
                    <br>Alinhado com esse conceito, a Benova se aliou para entregar uma experiência única para os clientes da Branco.
                </p>
            </div>
        </section>

        <section class="case-background case-background__branco">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="https://www.branco.casa/" title="Ir para o site da Branco">
                    <img class="case-background__image" src="/images/case/case-mockupBranco.webp" alt="Branco" title="Branco">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">O desafio</h3>
                        <p class="case-background__text">
                            Como um dos conceitos da Branco é justamente questionar novas tendências, por que não trazer um novo conceito para sua loja virtual?<br>Esse foi o desafio que a Benova aceitou, criar, desenvolver e gerar uma nova experiência de compra baseada em etapas de descobrir, comparar e escolher, que são os pilares da Branco.<br>Inovar e criar novas funcionalidades através do desenvolvimento de aplicativos dentro da VTEX IO e assim criar um comportamento de compra diferenciado dos produtos que são comercializados na loja virtual de nosso cliente.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">Nossa entrega</h3>
                        <p class="case-background__text">
                            Desenvolvemos e integramos aplicativos que aperfeiçoaram ainda mais a experiência de compra dentro da BRANCO, com nova calculadora de dimensões para papéis de parede e para adesivos, aplicativo personzaliado de compra conjunta, com o conceito de Curadoria, onde apresentamos em um mesmo ambiente vários produtos, onde o usuário pode escolher um item ou todos os produtos que compõem este ambiente, páginas institucionais personalizadas, landing pages e tambem um Design totalmente inovador, seguindo os conceitos da maior empresa do mercado de papéis de parede.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>
