<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/assets/css/case.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="case-banner">
            <a class="case-banner__href" target="_blank" href="https://www.gmad.com.br/" title="Ir para o site da GMAD">
                <img class="case-banner__image" src="/assets/images/case/case-bannerGmad.webp" alt="GMAD" title="GMAD">
            </a>

            <div class="case-banner__texts content">
                <h1 class="case-banner__title">GMAD</h1>
                <p class="case-banner__subtitle">
                    Indústria
                </p>
            </div>
        </section>

        <section class="case-item content">
            <div class="case-item__column">
                <h2 class="case-item__title">Líder em distibuição de produtos e serviços para móveis</h2>
                <a class="case-item__href" target="_blank" href="https://www.gmad.com.br/" title="Ir para o site da GMAD">
                    <img class="case-item__image" src="/assets/images/case/case-logoGmad.webp" alt="GMAD" title="GMAD">
                </a>
            </div>
            <div class="case-item__column">
                <p class="case-item__text">
                    O grupo GMAD tem como especialidade a distribuição de produtos e serviços para o mercado moveleiro. Atuando de forma consolidada em todo o Brasil com mais de 80 lojas físicas distribuídas em todo o território nacional e também com seu e-commerce, garantindo o acesso de mais de 50 mil profissionais de marcenaria e seus clientes.
                    <br>Com o objetivo de fortalecer ainda mais o grupo no Brasil, a Benova veio com objetivos muito claros para GMAD, uma loja online rápida, ágil e com altíssima performance.
                </p>
            </div>
        </section>

        <section class="case-background case-background__gmad">
            <div class="content-small">
                <a class="case-background__href" target="_blank" href="https://www.gmad.com.br/" title="Ir para o site da GMAD">
                    <img class="case-background__image" src="/assets/images/case/case-mockupGmad.webp" alt="GMAD" title="GMAD">
                </a>

                <div class="case-background__columns">
                    <div class="case-background__column">
                        <h3 class="case-background__title">O desafio</h3>
                        <p class="case-background__text">
                            Para manter a qualidade de um dos maiores players do mercado moveleiro, a Benova teve como objetivos principais, fazer a migração de VTEX CMC para VTEX IO, a inovação VTEX centrada em soluções de negócios com maior agilidade e segurança. Fazer essa migração não era tão simples, pois também deveria ser feito um redesign da loja em conjunto com um desenvolvimento pensando em performance, usabilidade, praticidade e funcionalidades ágeis. Além de uma simples entrega, também tínhamos o desafio de integrar o e-commerce com as filiais do grupo GMAD, e também com o Blog do grupo, onde tinha bastante tráfego que alimentavam a loja online.
                        </p>
                    </div>
                    <div class="case-background__column">
                        <h3 class="case-background__title">Nossa entrega</h3>
                        <p class="case-background__text">
                            O time Benova mergulhou no projeto GMAD com entusiasmo, entregando uma loja rápida em termos de performance e carregamento, design clean e objetivo em proporcionar uma navegação agradável, trazendo não só um simples ecommerce, mas um canal de comunicação com os clientes GMAD, onde se encontra Landing Pages com conteúdos e catálogos completos para trazer toda as informações de produtos e serviços.<br>Além da loja virtual, fizemos integrações com o blog e também auxiliamos com consultoria em e-commerce, serviço de mídia performance (Facebook Ads, Google Ads) e mais serviços. A Benova caminhou junto à GMAD com uma entrega completa na gestão de ecommerce.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>