<body class="page-case">
    <link rel="stylesheet" type="text/css" href="/assets/css/criar-demanda.css">

{{>header}}
<section class="banner-demanda">
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/demandas/banner-mobile.jpg">
        <img src="/assets/images/demandas/banner-desktop.jpg" alt="Banner desktop">
    </picture>
</section>

<section class="criar-demanda">
    <iframe class="clickup-embed clickup-dynamic-height"
    src="https://forms.clickup.com/36935390/f/1375py-1723/8VFEI59C8C01OORZHQ" 
    onwheel="" width="100%" height="100%" style="background: transparent;border: none">
    </iframe>
    <script async src="https://app-cdn.clickup.com/assets/js/forms-embed/v1.js"></script>
</section>

{{>footer}}
</body>