<body class="page-case">

    <script>
        if("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/pwa.js")
            .then(function() {
                console.log("ServiceWorker registrado")
            })
            .catch(function(){
                console.log("Erro no registro do serviceWorker")
            })
        }
    </script>

    <link rel="stylesheet" type="text/css" href="/css/criar-demanda.css">

{{>header}}
<section class="banner-demanda">
    <picture>
        <source media="(max-width: 600px)" srcset="/images/demandas/banner-mobile.jpg">
        <img src="/images/demandas/banner-desktop.jpg" alt="Banner desktop">
    </picture>
</section>

<section class="criar-demanda">
    <iframe class="clickup-embed clickup-dynamic-height"
    src="https://forms.clickup.com/36935390/f/1375py-1723/8VFEI59C8C01OORZHQ" 
    onwheel="" width="100%" height="100%" style="background: transparent;border: none">
    </iframe>
    <script async src="https://app-cdn.clickup.com/js/forms-embed/v1.js"></script>
</section>

{{>footer}}
</body>