<body class="page-home">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    
    {{>header}}

    <main>
        <section class="banner-main">
            <div class="content">
                <div class="banner-main__columns">
                    <div class="banner-main__column">
                        <h1 class="banner-main__title">Digital Commerce<br>Accelerator</h1>
                        <p class="banner-main__subtitle">
                            Impulsionamos o crescimento de seu negócio digital através de uma experiência única e completa.
                        </p>
                        <a class="banner-main__href" href="#form">Comece Agora!</a>
                    </div>
                    <div class="banner-main__column">
                        <img class="banner-main__image" src="/images/home/home-bannerMen.webp" alt="Banner" title="" loading="lazy">
                    </div>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="content">

                <div class="services-top">
                    <div class="services-top__text">
                        <h2 class="home-title">One-Stop Shop & Modular Management</h2>
                        <p class="home-subtitle">
                            Gestão completa para o seu comércio digital, ou serviços modulares que se adaptam ao momento da sua empresa. 
                        </p>
                    </div>
                    <a class="services-top__href" href="/servicos" title="">Conheça todos nossos serviços</a>
                </div>

                <div class="services-columns">
                    <div class="services-column services-column__one">

                        <div class="services-header">
                            <h3 class="services-header__title">
                                <span class="services-header__color">be.</span>start
                            </h3>
                        </div>

                        <div class="services-items">
                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__planning">Planning</p>
                                <p class="services-item__text">
                                    Nossa equipe de consultores oferece toda expertise para analisar e estudar profundamente seu negócio e em conjunto criar um planejamento bem estruturado para garantir o sucesso de vendas de sua loja virtual. Através de análises de ambiente, definição de metas e objetivos, definição dos planos de ações, acompanhamento e mensuração de resultados e mensuração de seus KPI's, objetivando o direcionamento de recursos de maneira assertiva.
                                </p>
                            </div>
                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__lgpd">LGPD - Legal Issues</p>
                                <p class="services-item__text">
                                    Com a coleta diária, uso e armazenamento e compartilhamento de dados pessoais, as lojas virtuais precisam seguir alguns cuidados. Com isso oferecemos consultoria completa a respeito da LGPD para você proteger e oferecer segurança aos usuários que trafegam em seu e-commerce. Nossos consultores conduzirão você e sua equipe ao melhor entendimento sobre as Leis de Proteção de Dados, assim como Políticas de Segurança e Privacidade, imprescindíveis para sua loja virtual.
                                </p>
                            </div>
                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__finnance">Finnance & Accounting</p>
                                <p class="services-item__text">
                                    Estruturamos uma gestão financeira sólida para direcionar de forma correta e precisa, seus recursos financeiros. Nossa consultoria irá auxiliar na elaboração de seu Planejamento financeiro, Indicadores de desempenho, Projeções de ganhos e gastos, Política de preços, Monitoramento de estoque, Métodos de pagamento, Softwares de gestão, com o objetivo final  de desenvolver seu comércio eletrônico.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="services-column services-column__two">
                        <div class="services-header">
                            <h3 class="services-header__title">
                                <span class="services-header__color">be.</span>infra
                            </h3>
                        </div>

                        <div class="services-items">
                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__deployment">Deployment</p>
                                <p class="services-item__text">
                                    Cada caso de implantação é único. Pensando nisso, disponibilizamos nossa equipe para oferecer o que realmente atende à necessidade de seu negócio online trazendo o melhor em flexibilidade, segurança e facilidade de uso e manutenção. Uma implantação sem limitações e com necessidades comerciais exclusivas, ajudamos você a optar pela plataforma ideal para sua operação online, considerando Escalabilidade, Facilidade, Segurança, Custo, Flexibilidade e Conformidade.
                                </p>
                            </div>

                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__design">Experience Design</p>
                                <p class="services-item__text">
                                    Velocidade de carregamento, usabilidade, navegabilidade são alguns dos aspectos essenciais para garantir a satisfação dos usuários que trafegam em sua loja online. Nosso time de UX/UI aplicarão boas práticas de UX/UI para diminuir a taxa de rejeição em sua loja. Através de testes A/B, Mobile First, Estética, layout bem estruturado e outras técnicas de usabilidade, trazemos uma metodologia, que garante que os consumidores tenham uma única em seu canal de vendas online.
                                </p>
                            </div>

                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__omnichannel">Omnichannel</p>
                                <p class="services-item__text">
                                    Unifique seus canais de venda, integrando de forma precisa as informações de suas operações online e off-line. Métodos multicanais oferecem uma visão completa e integrada de seu negócio, podendo atingir canais de atendimento, venda e pagamento. Com o Omnichannel você proporciona ao seu cliente a opção de escolher como ele será atendido, por qual canal se comunicar, se prefere receber ou retirar um produto, tudo de maneira fluída e sem barreiras.
                                </p>
                            </div>

                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__marketplace">Marketplace</p>
                                <p class="services-item__text">
                                    Um dos modelos de negócios mais rentáveis da atualidade, trazendo sucesso para quem vende produtos tanto em loja física como online. Auxiliamos você na análise de viabilidade para a criação e/ou integração a um Marketplace e análise do nicho de mercado. Esse modelo de negócio traz maior visibilidade, aumento de vendas, escalabilidade, alto potencial de faturamento e aumento considerável na taxa de conversão.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="services-column services-column__three">
                        <div class="services-header">
                            <h3 class="services-header__title">
                                <span class="services-header__color">be.</span>inside
                            </h3>
                        </div>

                        <div class="services-items">
                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__growth">Growth & Data</p>
                                <p class="services-item__text">
                                    Melhorar a performance e aumentar a conversão de usuários. Este sem dúvida é o principal objetivo do Growth & Data. Pensando na arquitetura das páginas de sua Loja Virtual, focamos em melhorias de velocidade de carregamento, conteúdo, fluxo de páginas, formulários, URLs e muito mais. O aumento de suas conversões, proporcionam o máximo de tráfego possível, identificando possibilidades de melhorias, diminuindo custos com campanhas que não convertem.
                                </p>
                            </div>

                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__marketing">Digital Marketing</p>
                                <p class="services-item__text">
                                    Com o uso assertivo de seu orçamento para Marketing Digital, dominamos a gestão de campanhas digitais de forma ágil e lucrativa.  Nosso time de marketing de é dedicado em mídia de performance e trabalhamos com ferramentas como Google Ads, Facebook Ads, criando campanhas, desenvolvendo criativos, fazemos a gestão dos investimentos para gerar ROI positivo e analisamos dados para criar campanhas de alta performance, aumentando vendas e seu faturamento.
                                </p>
                            </div>

                            <div class="services-item">
                                <p class="services-item__title services-icon services-icon__customer">Customer Service</p>
                                <p class="services-item__text">
                                    Com um método humanizado, podemos conduzir seus clientes aos melhores produtos, informações sobre status de pedido, solucionando dúvidas, auxiliando em compras, tudo isso transformando a experiência de atendimento em algo único, de forma integrada e Full time, através das melhores ferramentas disponíveis no mercado. Esse atendimento humanizado irá impactar diretamente no aumento de suas vendas e fidelização de seus clientes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="operations">
            <img class="operations-image" src="/images/home/home-operationsBackground.webp" alt="imagem de background" title="" loading="lazy">
            <div class="operations-column">
                <h2 class="home-title">Equipe Dedicada em Operações Outsourcing</h2>
                <p class="operations-text">
                    • Time de profissionais com Know-how para operar dentro de sua empresa e de forma a somar nas estratégias da sua loja virtual.                      
                </p>
                <p class="operations-text">
                    • Nossa equipe está apta a executar ações efetivas para o alcance dos seus resultados. Do planejamento à execução, realizando o monitoramento e a otimização.
                </p>
                <p class="operations-text">
                    • Deixe de lado a preocupação com encargos e custos operacionais. Foque na estratégia e em seu produto, nós cuidamos da sua operação online.
                </p>
                <a class="operations-href" href="/outsourcing">Saiba mais sobre Outsourcing</a>
            </div>
        </section>
        
        <section class="cases">
            <div class="content">
                <h2 class="home-title">Projetos Desenvolvidos para nossos Clientes</h2>
                <p class="home-subtitle">
                    Principais cases de sucesso com experiências únicas e de valor
                </p>

                <div class="cases-columns">
                    <div class="cases-column">
                        <a class="cases-card" href="/cabral-motors" title="Ir para o case Cabral Motors">
                            <div class="cases-card__background">
                                <img class="cases-card__image" src="/images/home/case-backgroundCabralMotor.webp" alt="Cabral Motor" title="Cabral Motor" loading="lazy">
                            </div>
                            <div class="cases-card__content">
                                <img class="cases-card__logo" src="/images/home/case-logoCabralMotor.webp" alt="Cabral Motor" title="Cabral Motor" loading="lazy">
                                <p class="cases-card__title">Cabral Motor</p>
                                <p class="cases-card__sector">Automobilístico</p>
                                <p class="cases-card__area">E-commerce / Evolução</p>
                            </div>
                        </a>
                        <a class="cases-card" href="/crocs" title="">
                            <div class="cases-card__background">
                                <img class="cases-card__image" src="/images/home/case-backgroundCrocs.webp" alt="Crocs" title="Crocs" loading="lazy">
                            </div>
                            <div class="cases-card__content">
                                <img class="cases-card__logo" src="/images/home/case-logoCrocs.webp" alt="Crocs" title="Crocs" loading="lazy">
                                <p class="cases-card__title">Crocs</p>
                                <p class="cases-card__sector">Calçados / Moda</p>
                                <p class="cases-card__area">E-commerce / Implantação</p>
                            </div>
                        </a>
                    </div>

                    <div class="cases-column cases-column__middle">
                        {{!-- <a class="cases-card" href="/branco" title=""> --}}
                        <a class="cases-card" href="#" title="">
                            <div class="cases-card__background">
                                <img class="cases-card__image" src="/images/home/case-backgroundBranco.webp" alt="Branco" title="Branco" loading="lazy">
                            </div>
                            <div class="cases-card__content">
                                <img class="cases-card__logo" src="/images/home/case-logoBranco.webp" alt="Branco" title="Branco" loading="lazy">
                                <p class="cases-card__title">Branco</p>
                                <p class="cases-card__sector">Mobiliário / Decoração</p>
                                <p class="cases-card__area">E-commerce / Migração / Evolução</p>
                            </div>
                        </a>
                        <a class="cases-card" href="/dex" title="">
                            <div class="cases-card__background">
                                <img class="cases-card__image" src="/images/home/case-backgroundDex.webp" alt="Dex" title="Dex" loading="lazy">
                            </div>
                            <div class="cases-card__content">
                                <img class="cases-card__logo" src="/images/home/case-logoDex.webp" alt="Dex" title="Dex" loading="lazy">
                                <p class="cases-card__title">Dex</p>
                                <p class="cases-card__sector">Indústria Automobilística</p>
                                <p class="cases-card__area">E-commerce / Implantação</p>
                            </div>
                        </a>
                    </div>

                    <div class="cases-column">
                        <a class="cases-card" href="/gmad" title="">
                            <div class="cases-card__background">
                                <img class="cases-card__image" src="/images/home/case-backgroundGmad.webp" alt="GMAD" title="GMAD" loading="lazy">
                            </div>
                            <div class="cases-card__content">
                                <img class="cases-card__logo" src="/images/home/case-logoGmad.webp" alt="GMAD" title="GMAD" loading="lazy">
                                <p class="cases-card__title">GMAD</p>
                                <p class="cases-card__sector">Indústria</p>
                                <p class="cases-card__area">E-commerce / Migração</p>
                            </div>
                        </a>
                        {{!-- <a class="cases-card" href="/uau-bobinex" title=""> --}}
                        <a class="cases-card" href="#" title="">
                            <div class="cases-card__background">
                                <img class="cases-card__image" src="/images/home/case-backgroundUauBobinex.webp" alt="Uau Bobinex" title="Uau Bobinex" loading="lazy">
                            </div>
                            <div class="cases-card__content">
                                <img class="cases-card__logo" src="/images/home/case-logoUauBobinex.webp" alt="Uau Bobinex" title="Uau Bobinex" loading="lazy">
                                <p class="cases-card__title">Uau Bobinex</p>
                                <p class="cases-card__sector">Mobiliário / Decoração</p>
                                <p class="cases-card__area">E-commerce / Migração / Evolução </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="platforms">
            <div class="content">
                <h2 class="home-title">Trabalhamos com as melhores tecnologias</h2>
                <p class="home-subtitle">
                    Somos certificados nas plataformas mais robustas do mercado, com foco em performance
                </p>

                <ul class="platforms-items">
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://www.google.com/intl/pt-PT/partners" title="Google Partner - Leve a sua empresa para o próximo nível">
                            <img class="platforms-image" src="/images/home/home-platformsGooglePartner.webp" alt="Google Partner" title="Google Partner - Leve a sua empresa para o próximo nível" loading="lazy">
                        </a>
                    </li>
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://vtex.com/" title="Plataforma VTEX de comércio para Ecommerce B2B & B2C, Marketplace, OMS e mais">
                            <img class="platforms-image" src="/images/home/home-platformsVtex.webp" alt="VTEX" title="Plataforma VTEX de comércio para Ecommerce B2B & B2C, Marketplace, OMS e mais" loading="lazy">
                        </a>
                    </li>
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://www.totvs.com/" title="TOTVS - A maior empresa de tecnologia do Brasil">
                            <img class="platforms-image" src="/images/home/home-platformsTotvs.webp" alt="TOTVS" title="TOTVS - A maior empresa de tecnologia do Brasil" loading="lazy">
                        </a>
                    </li>
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://www.rdstation.com/" title="RD Station: Plataforma de Marketing Digital e Vendas nº 1">
                            <img class="platforms-image" src="/images/home/home-platformsRdStation.webp" alt="RD Station" title="RD Station: Plataforma de Marketing Digital e Vendas nº 1" loading="lazy">
                        </a>
                    </li>
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://www.traycorp.com.br/" title="Plataforma de e-commerce">
                            <img class="platforms-image" src="/images/home/home-platformsTrayCorp.webp" alt="Tray Corp" title="Plataforma de e-commerce" loading="lazy">
                        </a>
                    </li>
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://www.mercadoshops.com.br/" title="Mercado Shops - Sua loja virtual">
                            <img class="platforms-image" src="/images/home/home-platformsMercadoShops.webp" alt="Mercado Shops" title="Mercado Shops - Sua loja virtual" loading="lazy">
                        </a>
                    </li>
                    <li class="platforms-item">
                        <a class="platforms-href" target="_blank" href="https://locaweb.company/" title="Locaweb Company">
                            <img class="platforms-image" src="/images/home/logo-company.svg" alt="Mercado Shops" title="Locaweb Company" loading="lazy">
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" async="" src="/js/home/home-services.js"></script>
</body>
