<body class="page-outsourcing">
    <link rel="stylesheet" type="text/css" href="/css/outsourcing.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar</a>
        </div>

        <section class="outsourcing-banner">
            <img class="outsourcing-banner__image" src="/images/outsourcing/outsourcing-banner.webp" alt="Outsourcing" title="Outsourcing">
        </section>

        <section class="outsourcing-informations content">
            <h1 class="outsourcing-title">Outsourcing</h1>
            <p class="outsourcing-subtitle">Terceirize serviços estratégicos com a Benova, diminua seus custos e melhore a eficiência de sua operação</p>

            <ul class="outsourcing-informations__items">
                <li class="outsourcing-informations__item">Disponibilizamos profissionais com Know-how para operar dentro de sua empresa e de forma colaborativa com seu time.</li>
                <li class="outsourcing-informations__item">Nossa equipe está apta a compartilhar conhecimento técnico aplicando treinamentos específicos para cada operação.</li>
                <li class="outsourcing-informations__item">Deixe de lado a preocupação com encargos e custos de contratação de profissionais para atuar em seu negócio online.</li>
            </ul>
        </section>

        <section class="outsourcing-benefits content">
            <div class="outsourcing-benefits__item">
                <h2 class="outsourcing-benefits__title">O Conceito</h2>
                <p class="outsourcing-benefits__text">
                    Nada mais é que a terceirização de serviços para áreas estratégicas de sua empresa, com o objetivo de aperfeiçoar ainda mais a eficiência do negócio. Com escassez de mão-de-obra especializada, é a alternativa perfeita para empresas que procuram otimizar sua operação de maneira ágil e com menor custo
                </p>
            </div>
            <div class="outsourcing-benefits__item">
                <h2 class="outsourcing-benefits__title">Por que contratar?</h2>
                <p class="outsourcing-benefits__text">
                    Para manter o fluxo da operação saudável, é importante uma força de trabalho bem treinada para a execução precisa de operações essenciais para seu negócio online. O Outsourcing também contribui para manter o foco em seu negócio e em seu cliente, acelerar projetos e claro, redução de custos.
                </p>
            </div>
            <div class="outsourcing-benefits__item">
                <h2 class="outsourcing-benefits__title">Reduza Custos</h2>
                <p class="outsourcing-benefits__text">
                    Com uma equipe dedicada e especializada trabalhando de forma colaborativa com sua equipe, você economiza com treinamentos e permite que seus colaboradores aprendam na prática, elementos que farão toda a diferença em seu dia-a-dia.
                </p>
            </div>
            <div class="outsourcing-benefits__item">
                <h2 class="outsourcing-benefits__title">Aumente sua produtividade</h2>
                <p class="outsourcing-benefits__text">
                    Você somente irá monitorar prazos e metas do serviço de Outsourcing, permitindo que toda sua equipe fique concentrada nas tarefas que ela tem maiores conhecimentos, assim seu time trabalha mais aumentando de forma escalável a produtividade.
                </p>
            </div>
            <div class="outsourcing-benefits__item">
                <h2 class="outsourcing-benefits__title">Aumente sua competitividade</h2>
                <p class="outsourcing-benefits__text">
                    Seu time irá trabalhar em altíssimo desempenho com a contratação do Outsourcing, pois as áreas que já possuem essa dinâmica, tenderão a melhorar essa performance ainda mais. Com tal eficiência crescendo a cada mês, o ganho de força competitiva cresce dentro do mercado.
                </p>
            </div>
            <div class="outsourcing-benefits__item">
                <h2 class="outsourcing-benefits__title">Reduza seus riscos</h2>
                <p class="outsourcing-benefits__text">
                    Com o time Benova de Outsourcing, você tem a garantia de profissionais com vasta expertise cuidando de seu negócio online, diminuindo de forma exponencial as chances de que sua a operação de seu e-commerce dê errado.
                </p>
            </div>
        </section>

        <section class="form-talk content">
            <button class="form-talk__button" type="button" onclick="openForm()">Quero conversar com um consultor</button>
        </section>

        {{>form}}
    </main>

    {{>footer}}

    <script type="text/javascript" src="/js/form-open.js"></script>
</body>