<body class="page-deployment page-service-individual">
    <link rel="stylesheet" type="text/css" href="/assets/css/services/service-individual.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/servicos#deployment">Voltar</a>
        </div>

        <section class="service-banner">
            <img class="service-banner__image" src="/assets/images/services/service-bannerDeployment.webp" alt="Deployment" title="Deployment">
        </section>

        <section class="service-informations content">
            <h1 class="service-title">Deployment</h1>
            <p class="service-subtitle">Auxiliamos você a optar pela plataforma ideal para sua loja online, considerando Escabilidade, Facilidade, Segurança, Custo, Flexibilidade e Conformidade.</p>

            <p class="service-text service-text__margin">
                Nossa análise para  implantação aborda pontos importantes como:
            </p>

            <ul class="service-informations__items">
                <li class="service-informations__item">Escalabilidade</li>
                <li class="service-informations__item">Facilidade</li>
                <li class="service-informations__item">Segurança</li>
                <li class="service-informations__item">Custo</li>
                <li class="service-informations__item">Flexibilidade</li>
                <li class="service-informations__item">Conformidade</li>
            </ul>
        </section>

        <section class="service-modules content">
            <h2 class="service-general__title">Módulos que contemplam o Deployment</h2>

            <div class="service-modules__items service-modules__two">
                <div class="service-modules__item service-modules__margin">
                    <span class="service-icon service-icon__deployment"></span>
                    <p class="service-modules__title">Deployment</p>
                    <p class="service-modules__text">
                        Cada caso de implantação é único. Pensando nisso, disponibilizamos nossa equipe para oferecer o que realmente atende à necessidade de seu negócio online trazendo o melhor em flexibilidade, segurança e facilidade de uso e manutenção. Uma implantação sem limitações e com necessidades comerciais exclusivas, ajudamos você a optar pela plataforma ideal para sua operação online, considerando Escalabilidade, Facilidade, Segurança, Custo, Flexibilidade e Conformidade.
                    </p>
                </div>
                <div class="service-modules__item service-modules__margin">
                    <span class="service-icon service-icon__design"></span>
                    <p class="service-modules__title">Experience Design</p>
                    <p class="service-modules__text">
                        Velocidade de carregamento, usabilidade, navegabilidade são alguns dos aspectos essenciais para garantir a satisfação dos usuários que trafegam em sua loja online. Nosso time de UX/UI aplicarão boas práticas de UX/UI para diminuir a taxa de rejeição em sua loja. Através de testes A/B, Mobile First, Estética, layout bem estruturado e outras técnicas de usabilidade, trazemos uma metodologia, que garante que os consumidores tenham uma única em seu canal de vendas online.
                    </p>
                </div>
                <div class="service-modules__item service-modules__margin">
                    <span class="service-icon service-icon__omnichannel"></span>
                    <p class="service-modules__title">Omnichannel</p>
                    <p class="service-modules__text">
                        Unifique seus canais de venda, integrando de forma precisa as informações de suas operações online e off-line. Métodos multicanais oferecem uma visão completa e integrada de seu negócio, podendo atingir canais de atendimento, venda e pagamento. Com o Omnichannel você proporciona ao seu cliente a opção de escolher como ele será atendido, por qual canal se comunicar, se prefere receber ou retirar um produto, tudo de maneira fluída e sem barreiras.
                    </p>
                </div>
                <div class="service-modules__item">
                    <span class="service-icon service-icon__marketplace"></span>
                    <p class="service-modules__title">Marketplace</p>
                    <p class="service-modules__text">
                        Um dos modelos de negócios mais rentáveis da atualidade, trazendo sucesso para quem vende produtos tanto em loja física como online. Auxiliamos você na análise de viabilidade para a criação e/ou integração a um Marketplace e análise do nicho de mercado. Esse modelo de negócio traz maior visibilidade, aumento de vendas, escalabilidade, alto potencial de faturamento e aumento considerável na taxa de conversão.
                    </p>
                </div>
            </div>
        </section>

        {{!-- <section class="service-questions">
            <div class="content">
                <h2 class="service-general__title">Dúvidas Frequentes</h2>

                <ul class="service-questions__items">
                    <li class="service-questions__item">
                        <h3 class="service-questions__title">Quisque vel odio sed neque placerat condimentum in vel justo?</h3>
                        <div class="service-questions__answer">
                            <p class="service-questions__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </li>
                    <li class="service-questions__item">
                        <h3 class="service-questions__title">Quisque vel odio sed neque placerat condimentum in vel justo?</h3>
                        <div class="service-questions__answer">
                            <p class="service-questions__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </li>
                    <li class="service-questions__item">
                        <h3 class="service-questions__title">Quisque vel odio sed neque placerat condimentum in vel justo?</h3>
                        <div class="service-questions__answer">
                            <p class="service-questions__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </li>
                    <li class="service-questions__item">
                        <h3 class="service-questions__title">Quisque vel odio sed neque placerat condimentum in vel justo?</h3>
                        <div class="service-questions__answer">
                            <p class="service-questions__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section> --}}

        <section class="service-talk content">
            <button class="service-talk__button" type="button" onclick="openForm()">Quero conversar com um consultor</button>
        </section>

        {{>form}}
    </main>

    {{>footer}}

    <script type="text/javascript" src="/assets/js/service/service-individualQuestions.js"></script>
    <script type="text/javascript" src="/assets/js/service/service-individualForm.js"></script>
</body>