<body class="page-services">
    <link rel="stylesheet" type="text/css" href="/assets/css/services/services.css">

    {{>header}}

    <main>
        <div class="content-large">
            <a class="back-button__href" href="/">Voltar para a home</a>
        </div>

        <section class="services">
            <div class="content">
                <h1 class="services-title">Nossos Pilares<br>de Serviços</h1>
                <p class="services-subtitle">
                    Trabalhamos com conceitos perfeitos para o seu modelo de negócio.
                </p>
            </div>
        </section>

        <section class="services-items">
            <div class="services-item services-item__left" id="one-stop-shop">
                <img class="services-item__image" src="/assets/images/services/services-oneStopShop.webp" alt="One-Stop Shop" title="One-Stop Shop" loading="lazy">
                <div class="services-item__texts">
                    <div class="services-item__flex">
                        <h2 class="services-item__title">One-Stop Shop</h2>
                        <a class="services-item__href" href="/servicos/one-stop-shop">Conheça o serviço</a>
                    </div>
                    <p class="services-texts__middle">Desenvolver, controlar e otimizar a experiência do usuário de maneira inovadora e humanizada, são os principais pilares da estratégia do <strong>One-Stop Shop</strong>.</p>
                    <p class="services-texts__small services-texts__margin">
                        Sua loja com tudo para atender várias necessidades de seus clientes. Esta é uma tendência crescente que a cada dia é impulsionada pela expansão do ecommerce.<br>
                        Focado em experiência do usuário, os consumidores buscam por marcas que ofereçam a maior conveniência possível.
                    </p>
                    <strong class="services-texts__small">Seu principais Benefícios são:</strong>
                    <ul class="services-item__lists">
                        <li class="services-item__list">Maximizar vendas</li>
                        <li class="services-item__list">Terceirização de serviços</li>
                        <li class="services-item__list">Menor custo de investimentos </li>
                        <li class="services-item__list">Aumento do ticket médio</li>
                        <li class="services-item__list">Diminuição do abandono de carrinho</li>
                        <li class="services-item__list">Satisfação do cliente</li>
                    </ul>
                </div>
            </div>

            <div class="services-item services-item__right services-item__two" id="modular-management">
                <div class="services-item__texts">
                    <div class="services-item__flex">
                        <h2 class="services-item__title">Modular Management</h2>
                        <a class="services-item__href" href="/servicos/modular-management">Conheça o serviço</a>
                    </div>
                    <p class="services-texts__middle">Customize as operações de seu negócio online com um conceito On Demand, onde você escolhe os serviços que mais se encaixam em sua estratégia digital.</p>
                    <p class="services-texts__small services-texts__margin">
                        Personalize os serviços que a Benova atenderá em sua operação online. A escolha dos serviços que atendem melhor sua estratégia, permite que você tenha diversas vantagens para o seu negócio, como:
                    </p>
                    <ul class="services-item__lists">
                        <li class="services-item__list">Treinamentos e consultorias específicas para sua equipe</li>
                        <li class="services-item__list">Maior controle nos processos de operação</li>
                        <li class="services-item__list">Menor custo de investimento</li>
                        <li class="services-item__list">Planejamento para a estrutura do negócio</li>
                    </ul>
                </div>
                <img class="services-item__image" src="/assets/images/services/services-modularManagement.webp" alt="Modular Management" title="Modular Management" loading="lazy">
            </div>

            <div class="services-pillars content">
                <h3 class="services-pillars__title">Pilares Envolvidos</h3>

                <div class="services-pillars__items">
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__one">be.</span>start
                        </h4>
                    </div>
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__two">be.</span>infra
                        </h4>
                    </div>
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__three">be.</span>inside
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-items">
            <div class="services-item services-item__left" id="start">
                <img class="services-item__image" src="/assets/images/services/services-start.webp" alt="Start" title="Start" loading="lazy">
                <div class="services-item__texts">
                    <div class="services-item__flex">
                        <h2 class="services-item__title">Start</h2>
                        <a class="services-item__href" href="/servicos/start">Conheça o serviço</a>
                    </div>
                    <p class="services-texts__middle">Consultorias dedicadas para a evolução de sua operação digital.</p>
                    <p class="services-texts__small services-texts__margin">
                        Atuamos de forma imersiva em seus processos de negócios para entender, identificar e fazer melhorias em sua operação. Com nossos consultores, auxiliamos você e seu time a alcançar melhores resultados e estratégias para seu negócio, através de consultoria de:
                    </p>
                    <ul class="services-item__lists">
                        <li class="services-item__list">Planejamento Estratégico</li>
                        <li class="services-item__list">Planejamento Técnico</li>
                        <li class="services-item__list">Planejamento Financeiro</li>
                    </ul>
                </div>
            </div>

            <div class="services-pillars content">
                <h3 class="services-pillars__title">Pilares Envolvidos</h3>

                <div class="services-pillars__items">
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__one">be.</span>start
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-items">
            <div class="services-item services-item__right" id="deployment">
                <div class="services-item__texts">
                    <div class="services-item__flex">
                        <h2 class="services-item__title">Deployment</h2>
                        <a class="services-item__href" href="/servicos/deployment">Conheça o serviço</a>
                    </div>
                    <p class="services-texts__middle">Auxiliamos você a optar pela plataforma ideal para sua loja online, considerando Escabilidade, Facilidade, Segurança, Custo, Flexibilidade e Conformidade.</p>
                    <p class="services-texts__small services-texts__margin">
                        Nossa análise para  implantação aborda pontos importantes como:
                    </p>
                    <strong class="services-texts__small">Seu principais Benefícios são:</strong>
                    <ul class="services-item__lists">
                        <li class="services-item__list">Escalabilidade</li>
                        <li class="services-item__list">Facilidade</li>
                        <li class="services-item__list">Segurança</li>
                        <li class="services-item__list">Custo</li>
                        <li class="services-item__list">Flexibilidade</li>
                        <li class="services-item__list">Conformidade</li>
                    </ul>
                </div>
                <img class="services-item__image" src="/assets/images/services/services-deployment.webp" alt="Deployment" title="Deployment" loading="lazy">
            </div>

            <div class="services-pillars content">
                <h3 class="services-pillars__title">Pilares Envolvidos</h3>

                <div class="services-pillars__items">
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__two">be.</span>infra
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-items">
            <div class="services-item services-item__left" id="evolution">
                <img class="services-item__image" src="/assets/images/services/services-evolution.webp" alt="Evolution" title="Evolution" loading="lazy">
                <div class="services-item__texts">
                    <div class="services-item__flex">
                        <h2 class="services-item__title">Evolution</h2>
                        <a class="services-item__href" href="/servicos/evolution">Conheça o serviço</a>
                    </div>
                    <p class="services-texts__middle">Dê mais um passo e evolua de forma integrada trazendo mais resultados ao seu negócio digital.</p>
                    <p class="services-texts__small services-texts__margin">
                        Proporcionamos a análise do cenário atual, melhorias de usabilidade, hotsites e landing pages, meeting estratégicos, suporte e gestão.
                    </p>
                    <strong class="services-texts__small">Dentro do Evolution, você garante:</strong>
                    <ul class="services-item__lists">
                        <li class="services-item__list">Melhoria na Performance</li>
                        <li class="services-item__list">Maior estabilidade</li>
                        <li class="services-item__list">Melhorias no SEO</li>
                        <li class="services-item__list">Novas funcionalidades</li>
                    </ul>
                </div>
            </div>

            <div class="services-pillars content">
                <h3 class="services-pillars__title">Pilares Envolvidos</h3>

                <div class="services-pillars__items">
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__two">be.</span>infra
                        </h4>
                    </div>
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__three">be.</span>inside
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-items">
            <div class="services-item services-item__right" id="performance">
                <div class="services-item__texts">
                    <div class="services-item__flex">
                        <h2 class="services-item__title">Performance</h2>
                        <a class="services-item__href" href="/servicos/performance">Conheça o serviço</a>
                    </div>
                    <p class="services-texts__middle">Consultorias dedicadas para a evolução de sua operação digital.</p>
                    <p class="services-texts__small services-texts__margin">
                        Atuamos de forma imersiva em seus processos de negócios para entender, identificar e fazer melhorias em sua operação. Com nossos consultores, auxiliamos você e seu time a alcançar melhores resultados e estratégias para seu negócio, através de consultoria de:
                    </p>
                    <ul class="services-item__lists">
                        <li class="services-item__list">Planejamento Estratégico</li>
                        <li class="services-item__list">Planejamento Técnico</li>
                        <li class="services-item__list">Planejamento Financeiro</li>
                    </ul>
                </div>
                <img class="services-item__image" src="/assets/images/services/services-performance.webp" alt="Performance" title="Performance" loading="lazy">
            </div>

            <div class="services-pillars content">
                <h3 class="services-pillars__title">Pilares Envolvidos</h3>

                <div class="services-pillars__items">
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__two">be.</span>infra
                        </h4>
                    </div>
                    <div class="services-pillars__item">
                        <h4 class="pillars-item__title">
                            <span class="pillars-item__three">be.</span>inside
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        {{>form}}
    </main>

    {{>footer}}
</body>