.criar-demanda {
    padding: 0 0 30px 0;
}
.banner-demanda {
    padding-top: 112px;
}
.banner-demanda img {
    max-width: 100%;
    display: block;
}
@media (max-width: 1025px) {
    .banner-demanda {
        padding-top: 60px;
    }
}