/* GERAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: var(--font-main-light);
  font-style: normal;
}

html,
body,
main {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
}

ul li {
  list-style: none;
}

/* FONTES  */
@font-face {
  font-family: "Effra";
  src: URL("../fonts/Effra_Std_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Effra regular";
  src: URL("../fonts/Effra\ Regular/EffraRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Effra light";
  src: URL("../fonts/Effra\ Light/EffraLight.ttf") format("truetype");
}

/* VARIAVEIS */
:root {
  /* CORES  */
  --primary: #fff;
  --secondary: #68478d;
  --tertiary: #5ebca4;
  --quaternary: #ef7b5e;
  --fifth: #a263e8;
  --sixth: #707070;

  --bg-main: #222222;
  --bg-secondary: #000000;

  /* FONTES */
  --font-main: "Effra";
  --font-main-regular: "Effra regular";
  --font-main-light: "Effra light";
}

/* CONTENT */
.content {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-large {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.content-small {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-menu {
  width: 100%;
  max-width: 1200px;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
@media (min-width: 1026px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 1025px) {
  .header {
    padding: 10px 0;
  }
}

.header:before {
  content: "";
  width: 100%;
  background: rgba(000, 000, 000, 0.5);
  display: block;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
  backdrop-filter: blur(7px);
}
@media (min-width: 1026px) {
  .header:before {
    height: 112px;
  }
}
@media (max-width: 1025px) {
  .header:before {
    height: 60px;
  }
}
.header.header-open::before {
  width: 0;
  transition: all 0.6s ease-in-out;
}

.header-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo__image {
  width: 100%;
  display: block;
}
@media (min-width: 1026px) {
  .header-logo__image {
    max-width: 192px;
  }
}
@media (max-width: 1025px) {
  .header-logo__image {
    max-width: 125px;
  }
}

.header-menu {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 1026px) {
  .header-menu {
    height: 52px;
    width: 52px;
  }
}
@media (max-width: 1025px) {
  .header-menu {
    height: 40px;
    width: 40px;
  }

  .header.header-open .header-menu {
    background: var(--bg-main);
    border: 1px solid var(--bg-main);
  }
}

.header-menu__image {
  max-width: 60%;
}

.header-menu__image.menu-image__open {
  display: none;
}

.header.header-open .menu-image__closed {
  display: none;
}

.header.header-open .header-menu__image.menu-image__open {
  display: block;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  right: -100%;
  transition: all 0.6s ease-in-out;
}

.menu.menu-open {
  opacity: 1;
  visibility: visible;
  right: 0%;
  transition: all 0.6s ease-in-out;
}

.menu-item__title {
  color: var(--primary);
  font-weight: 600;
  transition: 0.2s linear;
}
@media (min-width: 1026px) {
  .menu-item__title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .menu-item__title:after {
    content: "";
    height: 18px;
    width: 0;
    max-width: 110px;
    background: var(--quaternary);
    margin-top: -15px;
    z-index: -1;
    transition: 0.9s linear;
  }
  .menu-item__title:hover:after {
    width: 100%;
    transition: 0.9s linear;
  }
}
@media (max-width: 1025px) {
  .menu-item__title {
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
  }
}

.menu-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@media (min-width: 1026px) {
  .menu-items {
    padding: 135px 15px 30px 15px;
    width: 400px;
  }
}
@media (max-width: 1025px) {
  .menu-items {
    padding: 80px 15px 15px 15px;
    width: 100%;
  }
}

.menu-items::-webkit-scrollbar {
  width: 5px;
  background: var(--secondary);
}
.menu-items::-webkit-scrollbar-track {
  background: var(--secondary);
}
.menu-items::-webkit-scrollbar-thumb {
  background: rgb(76 44 112 / 60%);
  border-radius: 5px;
}

.menu-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.menu-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-social__icon:before {
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  transition: 0.2s linear;
  margin: 0 12px 10px 12px;
}

@media (min-width: 1026px) {
  .menu-social__icon:before {
    width: 25px;
    height: 25px;
  }
  .menu-social__icon:hover:before {
    transform: scale(1.1);
  }
}
@media (max-width: 1025px) {
  .menu-social__icon:before {
    width: 20px;
    height: 20px;
  }
}

.menu-social__facebook:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_105' data-name='Retângulo 105' width='25' height='25' transform='translate(1019 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-facebook' transform='translate(-1019 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='facebook' transform='translate(1031.5 5699.5)'%3E%3Cpath id='facebook-2' data-name='facebook' d='M10.219,4.151H12.5V.176A29.471,29.471,0,0,0,9.176,0C5.885,0,3.631,2.07,3.631,5.874v3.5H0v4.444H3.631V25H8.083V13.82h3.484l.553-4.444H8.082V6.315c0-1.284.347-2.164,2.136-2.164Z' transform='translate(-6.251 -12.5)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.menu-social__linkedin:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_106' data-name='Retângulo 106' width='25' height='25' transform='translate(1055 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-linkedin' transform='translate(-1055 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='linkedin' transform='translate(1067.5 5699.5)'%3E%3Cg id='linkedin-2' data-name='linkedin' transform='translate(-12.5 -12.5)'%3E%3Cpath id='Caminho_1686' data-name='Caminho 1686' d='M24.64,24.684h.006V15.515c0-4.485-.966-7.941-6.209-7.941a5.444,5.444,0,0,0-4.9,2.695h-.073V7.993H8.489V24.683h5.177V16.419c0-2.176.413-4.28,3.107-4.28,2.655,0,2.695,2.483,2.695,4.42v8.126Z' transform='translate(0.354 0.316)' fill='%23fff'/%3E%3Cpath id='Caminho_1687' data-name='Caminho 1687' d='M.4,7.977H5.579V24.668H.4Z' transform='translate(0.016 0.332)' fill='%23fff'/%3E%3Cpath id='Caminho_1688' data-name='Caminho 1688' d='M3,0A3.016,3.016,0,1,0,6,3,3,3,0,0,0,3,0Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.menu-social__instagram:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_107' data-name='Retângulo 107' width='25' height='25' transform='translate(1091 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-instagram' transform='translate(-1091 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='instagram' transform='translate(1103.5 5699.5)'%3E%3Cg id='instagram-2' data-name='instagram' transform='translate(-12.498 -12.5)'%3E%3Cpath id='Caminho_1692' data-name='Caminho 1692' d='M25.38,7.35A9.135,9.135,0,0,0,24.8,4.317,6.4,6.4,0,0,0,21.141.659,9.159,9.159,0,0,0,18.108.078C16.77.015,16.345,0,12.951,0S9.132.015,7.8.073A9.138,9.138,0,0,0,4.766.654,6.1,6.1,0,0,0,2.549,2.1,6.155,6.155,0,0,0,1.108,4.312,9.16,9.16,0,0,0,.527,7.345C.463,8.683.449,9.108.449,12.5s.015,3.819.073,5.152A9.135,9.135,0,0,0,1.1,20.688a6.4,6.4,0,0,0,3.658,3.658,9.16,9.16,0,0,0,3.033.581c1.333.059,1.758.073,5.152.073s3.819-.014,5.152-.073a9.133,9.133,0,0,0,3.033-.581,6.4,6.4,0,0,0,3.658-3.658,9.166,9.166,0,0,0,.581-3.033c.059-1.333.073-1.758.073-5.152s0-3.819-.064-5.152ZM23.129,17.557a6.852,6.852,0,0,1-.43,2.32,4.147,4.147,0,0,1-2.374,2.374,6.877,6.877,0,0,1-2.32.43c-1.319.059-1.714.073-5.05.073s-3.736-.014-5.05-.073a6.849,6.849,0,0,1-2.32-.43,3.847,3.847,0,0,1-1.436-.933,3.887,3.887,0,0,1-.933-1.436,6.878,6.878,0,0,1-.43-2.32c-.059-1.319-.073-1.714-.073-5.05s.014-3.736.073-5.05a6.849,6.849,0,0,1,.43-2.32,3.8,3.8,0,0,1,.938-1.436,3.881,3.881,0,0,1,1.436-.933,6.881,6.881,0,0,1,2.32-.43c1.319-.059,1.714-.073,5.05-.073s3.736.015,5.05.073a6.852,6.852,0,0,1,2.32.43,3.844,3.844,0,0,1,1.436.933A3.886,3.886,0,0,1,22.7,5.143a6.88,6.88,0,0,1,.43,2.32c.059,1.319.073,1.714.073,5.05s-.015,3.726-.073,5.045Zm0,0' transform='translate(-0.449 0)' fill='%23fff'/%3E%3Cpath id='Caminho_1693' data-name='Caminho 1693' d='M131.371,124.5a6.422,6.422,0,1,0,6.422,6.422A6.424,6.424,0,0,0,131.371,124.5Zm0,10.588a4.166,4.166,0,1,1,4.166-4.166A4.167,4.167,0,0,1,131.371,135.088Zm0,0' transform='translate(-118.869 -118.42)' fill='%23fff'/%3E%3Cpath id='Caminho_1694' data-name='Caminho 1694' d='M365.448,90.1a1.5,1.5,0,1,1-1.5-1.5A1.5,1.5,0,0,1,365.448,90.1Zm0,0' transform='translate(-344.77 -84.275)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.menu-social__spotify:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_139' data-name='Retângulo 139' width='25' height='25' transform='translate(1131 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-spotify' transform='translate(-1131 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='spotify-symbol' transform='translate(1143.5 5699.5)'%3E%3Cg id='spotify-symbol-2' data-name='spotify-symbol' transform='translate(-12.5 -12.5)'%3E%3Cpath id='Caminho_4065' data-name='Caminho 4065' d='M57.124,112.842c-4.16-1.923-9.984-1.072-10.229-1.035a1,1,0,0,0,.3,1.985c.054-.008,5.468-.8,9.088.873a1,1,0,1,0,.842-1.822Z' transform='translate(-39.88 -96.658)' fill='%23fff'/%3E%3Cpath id='Caminho_4066' data-name='Caminho 4066' d='M56.8,84.739c-4.725-2.183-11.351-1.216-11.63-1.174a1,1,0,0,0,.3,1.985c.063-.01,6.316-.917,10.489,1.011a1,1,0,1,0,.842-1.822Z' transform='translate(-38.382 -72.168)' fill='%23fff'/%3E%3Cpath id='Caminho_4067' data-name='Caminho 4067' d='M54.72,55.562c-5.219-2.412-12.549-1.342-12.859-1.3a1,1,0,0,0,.3,1.985c.07-.011,7.05-1.025,11.717,1.132a1,1,0,1,0,.842-1.822Z' transform='translate(-35.521 -46.767)' fill='%23fff'/%3E%3Cpath id='Caminho_4068' data-name='Caminho 4068' d='M12.5,0A12.5,12.5,0,1,0,25,12.5,12.514,12.514,0,0,0,12.5,0Zm0,22.993A10.493,10.493,0,1,1,22.993,12.5,10.5,10.5,0,0,1,12.5,22.994Z' transform='translate(0 -0.001)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.menu-social__deezer:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_140' data-name='Retângulo 140' width='25' height='25' transform='translate(1171 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-deezer' transform='translate(-1171 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='deezer-symbol' transform='translate(1183.5 5699.5)'%3E%3Cg id='deezer-symbol-2' data-name='deezer-symbol' transform='translate(-12.5 -6.975)'%3E%3Cg id='Grupo_570' data-name='Grupo 570'%3E%3Crect id='Retângulo_142' data-name='Retângulo 142' width='4.558' height='1.381' transform='translate(0 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_143' data-name='Retângulo 143' width='4.558' height='1.382' transform='translate(0 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_144' data-name='Retângulo 144' width='4.558' height='1.382' transform='translate(0 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_145' data-name='Retângulo 145' width='4.558' height='1.381' transform='translate(0 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_146' data-name='Retângulo 146' width='4.558' height='1.381' transform='translate(0 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_147' data-name='Retângulo 147' width='4.558' height='1.381' transform='translate(5.11 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_148' data-name='Retângulo 148' width='4.558' height='1.382' transform='translate(5.11 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_149' data-name='Retângulo 149' width='4.558' height='1.382' transform='translate(5.11 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_150' data-name='Retângulo 150' width='4.558' height='1.381' transform='translate(10.221 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_151' data-name='Retângulo 151' width='4.558' height='1.382' transform='translate(10.221 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_152' data-name='Retângulo 152' width='4.558' height='1.382' transform='translate(10.221 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_153' data-name='Retângulo 153' width='4.558' height='1.381' transform='translate(10.221 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_154' data-name='Retângulo 154' width='4.558' height='1.381' transform='translate(10.221 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_155' data-name='Retângulo 155' width='4.558' height='1.381' transform='translate(10.221 3.592)' fill='%23fff'/%3E%3Crect id='Retângulo_156' data-name='Retângulo 156' width='4.558' height='1.381' transform='translate(10.221 1.796)' fill='%23fff'/%3E%3Crect id='Retângulo_157' data-name='Retângulo 157' width='4.558' height='1.381' transform='translate(15.331 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_158' data-name='Retângulo 158' width='4.558' height='1.382' transform='translate(15.331 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_159' data-name='Retângulo 159' width='4.558' height='1.382' transform='translate(15.331 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_160' data-name='Retângulo 160' width='4.558' height='1.381' transform='translate(15.331 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_161' data-name='Retângulo 161' width='4.558' height='1.381' transform='translate(15.331 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_162' data-name='Retângulo 162' width='4.558' height='1.381' transform='translate(20.442 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_163' data-name='Retângulo 163' width='4.558' height='1.382' transform='translate(20.442 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_164' data-name='Retângulo 164' width='4.558' height='1.381' transform='translate(20.442 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_165' data-name='Retângulo 165' width='4.558' height='1.381' transform='translate(20.442 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_166' data-name='Retângulo 166' width='4.558' height='1.381' transform='translate(20.442 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_167' data-name='Retângulo 167' width='4.558' height='1.381' transform='translate(20.442 3.592)' fill='%23fff'/%3E%3Crect id='Retângulo_168' data-name='Retângulo 168' width='4.558' height='1.381' transform='translate(20.442 1.796)' fill='%23fff'/%3E%3Crect id='Retângulo_169' data-name='Retângulo 169' width='4.558' height='1.381' transform='translate(20.442)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

/* SEÇÕES DO MENU */
.menu .menu-item__content {
  position: fixed;
  background: var(--bg-main);
  height: 100%;
  right: 0;
  width: calc(100% - 400px);
  padding: 150px 70px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  transition: all 0.6s ease-in-out;
}
.menu.menu-open .menu-item__content {
  opacity: 1;
  visibility: visible;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.menu .menu-item__content::-webkit-scrollbar {
  width: 5px;
  background: var(--bg-main);
}
.menu .menu-item__content::-webkit-scrollbar-track {
  background: var(--bg-main);
}
.menu .menu-item__content::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5px;
}

.menu-content__title {
  color: var(--primary);
  display: flex;
  flex-direction: column;
}
@media (min-width: 1026px) {
  .menu-content__title {
    font-size: 26px;
    line-height: 26px;
  }
}
@media (max-width: 1025px) {
  .menu-content__title {
    font-size: 22px;
    line-height: 22px;
  }
}

.menu-content__title:after {
  content: "";
  height: 18px;
  width: 100%;
  max-width: 110px;
  margin-top: -15px;
  z-index: -1;
  transition: 0.9s linear;
}
.menu-color__one:after {
  background: var(--secondary);
}
.menu-color__two:after {
  background: var(--quaternary);
}
.menu-color__three:after {
  background: var(--tertiary);
}
.menu .menu-content__items.menu-content__business .menu-content__title:after,
.menu .menu-content__items.menu-content__services .menu-content__title:after {
  max-width: 20px;
}

.menu-content__text {
  line-height: 26px;
  color: var(--primary);
  padding: 30px 0;
}
@media (min-width: 1026px) {
  .menu-content__text {
    font-size: 20px;
  }
}
@media (max-width: 1025px) {
  .menu-content__text {
    font-size: 18px;
  }
}

.menu-content__subtitle {
  line-height: 22px;
  color: var(--primary);
  padding-top: 15px;
}
@media (min-width: 1026px) {
  .menu-content__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 1025px) {
  .menu-content__subtitle {
    font-size: 18px;
  }
}

.menu-content__items.menu-content__services .menu-content__subtitle,
.menu-content__items.menu-content__business .menu-content__subtitle {
  max-width: 230px;
}

.menu-content__items {
  display: flex;
  flex-wrap: wrap;
}

.menu-content__items.menu-content__history {
  padding: 30px 0 10px 0;
}

.menu-content__item {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.menu-content__items.menu-content__services .menu-content__item {
  margin-bottom: 90px;
}

.menu-content__button {
  height: 100%;
  display: flex;
  align-items: end;
}

.menu-content__href {
  background: var(--tertiary);
  color: var(--primary);
  border-radius: 5px;
  width: 100%;
  max-width: 165px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 0 10px 0;
  margin-top: 20px;
  transition: 0.2s linear;
}

.menu-content__href:hover {
  background: var(--fifth);
}
@media (max-width: 1025px) {
  .menu .menu-item__content {
    display: none;
  }
}

/* FORMULÁRIO */
.contact:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -10px 0 0;
}

.contact {
  background: var(--bg-secondary);
}
@media (min-width: 1026px) {
  .contact {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (max-width: 1025px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.contact .content {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1025px) {
  .contact .content {
    flex-direction: column;
  }
}

.contact-title {
  color: var(--primary);
}
@media (min-width: 1026px) {
  .contact-title {
    font-size: 35px;
    line-height: 41px;
  }
}
@media (max-width: 1025px) {
  .contact-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.contact-title:after {
  content: "";
  width: 90%;
  max-width: 300px;
  height: 2px;
  background: var(--secondary);
  display: block;
}
@media (min-width: 1026px) {
  .contact-title:after {
    margin: 2px 0 8px 0;
  }
}
@media (max-width: 1025px) {
  .contact-title:after {
    margin: 5px 0 8px 0;
  }
}

.contact-subtitle {
  color: var(--primary);
  font-weight: 100;
}
@media (min-width: 1026px) {
  .contact-subtitle {
    font-size: 16px;
    line-height: 18px;
    max-width: 650px;
  }
}
@media (max-width: 1025px) {
  .contact-subtitle {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 1026px) {
  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1026px) {
  .contact-column__text {
    width: 34%;
  }

  .contact-column__form {
    width: 66%;
    margin-left: 50px;
  }
}

@media (max-width: 1025px) {
  .contact-column__form {
    margin-top: 30px;
  }
}

.form-field {
  border-bottom: 1px solid var(--sixth);
  background: var(--bg-secondary);
  border-left: none;
  border-right: none;
  border-top: none;
  line-height: 18px;
  color: var(--primary);
  padding-bottom: 10px;
  transition: 0.2s linear;
  box-shadow: inset 0 0 0 5px #000;
  border-radius: 0;
}
@media (min-width: 1026px) {
  .form-field {
    width: 45%;
    margin-bottom: 50px;
    font-size: 16px;
  }
}
@media (max-width: 1025px) {
  .form-field {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.form-field__textarea {
  border-bottom: 1px solid var(--sixth);
  background: var(--bg-secondary);
  border-left: none;
  border-right: none;
  border-top: none;
  line-height: 18px;
  color: var(--primary);
  width: 100%;
  padding-bottom: 10px;
  transition: 0.2s linear;
  height: 30px;
}
@media (min-width: 1026px) {
  .form-field__textarea {
    margin-bottom: 50px;
    font-size: 16px;
  }
}
@media (max-width: 1025px) {
  .form-field__textarea {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.form-field:focus,
.form-field__textarea:focus {
  border-bottom: 1px solid var(--fifth);
}

.form-field::-webkit-input-placeholder,
.form-field__textarea::-webkit-input-placeholder {
  color: var(--primary);
}

.form-field::-moz-placeholder,
.form-field__textarea::-moz-placeholder {
  color: var(--primary);
}

.form-field:-ms-input-placeholder,
.form-field__textarea:-ms-input-placeholder {
  color: var(--primary);
}

.form-field::-ms-input-placeholder,
.form-field__textarea::-ms-input-placeholder {
  color: var(--primary);
}

.form-field::placeholder,
.form-field__textarea::placeholder {
  color: var(--primary);
}

.form-button {
  width: 100%;
}

.form-button__submit {
  background: var(--tertiary);
  border-radius: 5px;
  color: var(--primary);
  width: 100%;
  max-width: 150px;
  border: none;
  font-weight: 600;
  transition: 0.2s linear;
  cursor: pointer;
}

@media (min-width: 1026px) {
  .form-button__submit {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0 12px 0;
  }
  .form-button__submit:hover {
    background: var(--fifth);
  }
}

@media (max-width: 1025px) {
  .form-button__submit {
    font-size: 16px;
    line-height: 16px;
    padding: 18px 14px 14px 14px;
  }
}

/* FOOTER */
@media (min-width: 1026px) {
  .footer {
    padding-top: 55px;
    padding-bottom: 130px;
  }
}
@media (max-width: 1025px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer-logo {
  padding-bottom: 25px;
}

@media (min-width: 1026px) {
  .footer-logo__text {
    font-size: 32px;
    line-height: 34px;
    color: var(--primary);
    font-family: var(--font-main);
    font-weight: bold;
    text-align: center;
    margin-bottom: -20px;
  }
}
@media (max-width: 1025px) {
  .footer-logo__text {
    display: none;
  }
}

.footer-logo__image {
  width: 100%;
  max-width: 192px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .footer-columns {
    flex-direction: column;
  }
}

.footer-column {
  border-left: 2px solid var(--secondary);
  padding: 10px;
}
@media (max-width: 1025px) {
  .footer-column {
    margin-bottom: 30px;
  }
}

.footer-text {
  font-size: 13px;
  line-height: 14px;
  color: var(--primary);
  font-style: normal;
  transition: 0.2s linear;
}

@media (min-width: 1026px) {
  .footer-text:hover {
    color: var(--fifth);
  }
}

.footer-title {
  font-size: 16px;
  line-height: 18px;
  color: var(--primary);
  font-weight: bold;
  font-family: var(--font-main);
  padding-bottom: 10px;
}

.footer-partners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-partners__image {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 12px 10px 0;
}

.footer-column__gptw {
  max-height: 97px;
}

.foooter-gptw__image {
  width: 100%;
  max-width: 67px;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social__icon:before {
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  transition: 0.2s linear;
  margin: 0 12px 10px 0;
}

@media (min-width: 1026px) {
  .footer-social__icon:hover:before {
    transform: scale(1.1);
  }
}

.footer-social__facebook:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_105' data-name='Retângulo 105' width='25' height='25' transform='translate(1019 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-facebook' transform='translate(-1019 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='facebook' transform='translate(1031.5 5699.5)'%3E%3Cpath id='facebook-2' data-name='facebook' d='M10.219,4.151H12.5V.176A29.471,29.471,0,0,0,9.176,0C5.885,0,3.631,2.07,3.631,5.874v3.5H0v4.444H3.631V25H8.083V13.82h3.484l.553-4.444H8.082V6.315c0-1.284.347-2.164,2.136-2.164Z' transform='translate(-6.251 -12.5)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__linkedin:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_106' data-name='Retângulo 106' width='25' height='25' transform='translate(1055 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-linkedin' transform='translate(-1055 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='linkedin' transform='translate(1067.5 5699.5)'%3E%3Cg id='linkedin-2' data-name='linkedin' transform='translate(-12.5 -12.5)'%3E%3Cpath id='Caminho_1686' data-name='Caminho 1686' d='M24.64,24.684h.006V15.515c0-4.485-.966-7.941-6.209-7.941a5.444,5.444,0,0,0-4.9,2.695h-.073V7.993H8.489V24.683h5.177V16.419c0-2.176.413-4.28,3.107-4.28,2.655,0,2.695,2.483,2.695,4.42v8.126Z' transform='translate(0.354 0.316)' fill='%23fff'/%3E%3Cpath id='Caminho_1687' data-name='Caminho 1687' d='M.4,7.977H5.579V24.668H.4Z' transform='translate(0.016 0.332)' fill='%23fff'/%3E%3Cpath id='Caminho_1688' data-name='Caminho 1688' d='M3,0A3.016,3.016,0,1,0,6,3,3,3,0,0,0,3,0Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__instagram:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_107' data-name='Retângulo 107' width='25' height='25' transform='translate(1091 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-instagram' transform='translate(-1091 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='instagram' transform='translate(1103.5 5699.5)'%3E%3Cg id='instagram-2' data-name='instagram' transform='translate(-12.498 -12.5)'%3E%3Cpath id='Caminho_1692' data-name='Caminho 1692' d='M25.38,7.35A9.135,9.135,0,0,0,24.8,4.317,6.4,6.4,0,0,0,21.141.659,9.159,9.159,0,0,0,18.108.078C16.77.015,16.345,0,12.951,0S9.132.015,7.8.073A9.138,9.138,0,0,0,4.766.654,6.1,6.1,0,0,0,2.549,2.1,6.155,6.155,0,0,0,1.108,4.312,9.16,9.16,0,0,0,.527,7.345C.463,8.683.449,9.108.449,12.5s.015,3.819.073,5.152A9.135,9.135,0,0,0,1.1,20.688a6.4,6.4,0,0,0,3.658,3.658,9.16,9.16,0,0,0,3.033.581c1.333.059,1.758.073,5.152.073s3.819-.014,5.152-.073a9.133,9.133,0,0,0,3.033-.581,6.4,6.4,0,0,0,3.658-3.658,9.166,9.166,0,0,0,.581-3.033c.059-1.333.073-1.758.073-5.152s0-3.819-.064-5.152ZM23.129,17.557a6.852,6.852,0,0,1-.43,2.32,4.147,4.147,0,0,1-2.374,2.374,6.877,6.877,0,0,1-2.32.43c-1.319.059-1.714.073-5.05.073s-3.736-.014-5.05-.073a6.849,6.849,0,0,1-2.32-.43,3.847,3.847,0,0,1-1.436-.933,3.887,3.887,0,0,1-.933-1.436,6.878,6.878,0,0,1-.43-2.32c-.059-1.319-.073-1.714-.073-5.05s.014-3.736.073-5.05a6.849,6.849,0,0,1,.43-2.32,3.8,3.8,0,0,1,.938-1.436,3.881,3.881,0,0,1,1.436-.933,6.881,6.881,0,0,1,2.32-.43c1.319-.059,1.714-.073,5.05-.073s3.736.015,5.05.073a6.852,6.852,0,0,1,2.32.43,3.844,3.844,0,0,1,1.436.933A3.886,3.886,0,0,1,22.7,5.143a6.88,6.88,0,0,1,.43,2.32c.059,1.319.073,1.714.073,5.05s-.015,3.726-.073,5.045Zm0,0' transform='translate(-0.449 0)' fill='%23fff'/%3E%3Cpath id='Caminho_1693' data-name='Caminho 1693' d='M131.371,124.5a6.422,6.422,0,1,0,6.422,6.422A6.424,6.424,0,0,0,131.371,124.5Zm0,10.588a4.166,4.166,0,1,1,4.166-4.166A4.167,4.167,0,0,1,131.371,135.088Zm0,0' transform='translate(-118.869 -118.42)' fill='%23fff'/%3E%3Cpath id='Caminho_1694' data-name='Caminho 1694' d='M365.448,90.1a1.5,1.5,0,1,1-1.5-1.5A1.5,1.5,0,0,1,365.448,90.1Zm0,0' transform='translate(-344.77 -84.275)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__spotify:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_139' data-name='Retângulo 139' width='25' height='25' transform='translate(1131 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-spotify' transform='translate(-1131 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='spotify-symbol' transform='translate(1143.5 5699.5)'%3E%3Cg id='spotify-symbol-2' data-name='spotify-symbol' transform='translate(-12.5 -12.5)'%3E%3Cpath id='Caminho_4065' data-name='Caminho 4065' d='M57.124,112.842c-4.16-1.923-9.984-1.072-10.229-1.035a1,1,0,0,0,.3,1.985c.054-.008,5.468-.8,9.088.873a1,1,0,1,0,.842-1.822Z' transform='translate(-39.88 -96.658)' fill='%23fff'/%3E%3Cpath id='Caminho_4066' data-name='Caminho 4066' d='M56.8,84.739c-4.725-2.183-11.351-1.216-11.63-1.174a1,1,0,0,0,.3,1.985c.063-.01,6.316-.917,10.489,1.011a1,1,0,1,0,.842-1.822Z' transform='translate(-38.382 -72.168)' fill='%23fff'/%3E%3Cpath id='Caminho_4067' data-name='Caminho 4067' d='M54.72,55.562c-5.219-2.412-12.549-1.342-12.859-1.3a1,1,0,0,0,.3,1.985c.07-.011,7.05-1.025,11.717,1.132a1,1,0,1,0,.842-1.822Z' transform='translate(-35.521 -46.767)' fill='%23fff'/%3E%3Cpath id='Caminho_4068' data-name='Caminho 4068' d='M12.5,0A12.5,12.5,0,1,0,25,12.5,12.514,12.514,0,0,0,12.5,0Zm0,22.993A10.493,10.493,0,1,1,22.993,12.5,10.5,10.5,0,0,1,12.5,22.994Z' transform='translate(0 -0.001)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__deezer:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_140' data-name='Retângulo 140' width='25' height='25' transform='translate(1171 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-deezer' transform='translate(-1171 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='deezer-symbol' transform='translate(1183.5 5699.5)'%3E%3Cg id='deezer-symbol-2' data-name='deezer-symbol' transform='translate(-12.5 -6.975)'%3E%3Cg id='Grupo_570' data-name='Grupo 570'%3E%3Crect id='Retângulo_142' data-name='Retângulo 142' width='4.558' height='1.381' transform='translate(0 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_143' data-name='Retângulo 143' width='4.558' height='1.382' transform='translate(0 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_144' data-name='Retângulo 144' width='4.558' height='1.382' transform='translate(0 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_145' data-name='Retângulo 145' width='4.558' height='1.381' transform='translate(0 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_146' data-name='Retângulo 146' width='4.558' height='1.381' transform='translate(0 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_147' data-name='Retângulo 147' width='4.558' height='1.381' transform='translate(5.11 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_148' data-name='Retângulo 148' width='4.558' height='1.382' transform='translate(5.11 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_149' data-name='Retângulo 149' width='4.558' height='1.382' transform='translate(5.11 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_150' data-name='Retângulo 150' width='4.558' height='1.381' transform='translate(10.221 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_151' data-name='Retângulo 151' width='4.558' height='1.382' transform='translate(10.221 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_152' data-name='Retângulo 152' width='4.558' height='1.382' transform='translate(10.221 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_153' data-name='Retângulo 153' width='4.558' height='1.381' transform='translate(10.221 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_154' data-name='Retângulo 154' width='4.558' height='1.381' transform='translate(10.221 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_155' data-name='Retângulo 155' width='4.558' height='1.381' transform='translate(10.221 3.592)' fill='%23fff'/%3E%3Crect id='Retângulo_156' data-name='Retângulo 156' width='4.558' height='1.381' transform='translate(10.221 1.796)' fill='%23fff'/%3E%3Crect id='Retângulo_157' data-name='Retângulo 157' width='4.558' height='1.381' transform='translate(15.331 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_158' data-name='Retângulo 158' width='4.558' height='1.382' transform='translate(15.331 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_159' data-name='Retângulo 159' width='4.558' height='1.382' transform='translate(15.331 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_160' data-name='Retângulo 160' width='4.558' height='1.381' transform='translate(15.331 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_161' data-name='Retângulo 161' width='4.558' height='1.381' transform='translate(15.331 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_162' data-name='Retângulo 162' width='4.558' height='1.381' transform='translate(20.442 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_163' data-name='Retângulo 163' width='4.558' height='1.382' transform='translate(20.442 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_164' data-name='Retângulo 164' width='4.558' height='1.381' transform='translate(20.442 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_165' data-name='Retângulo 165' width='4.558' height='1.381' transform='translate(20.442 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_166' data-name='Retângulo 166' width='4.558' height='1.381' transform='translate(20.442 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_167' data-name='Retângulo 167' width='4.558' height='1.381' transform='translate(20.442 3.592)' fill='%23fff'/%3E%3Crect id='Retângulo_168' data-name='Retângulo 168' width='4.558' height='1.381' transform='translate(20.442 1.796)' fill='%23fff'/%3E%3Crect id='Retângulo_169' data-name='Retângulo 169' width='4.558' height='1.381' transform='translate(20.442)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

/* VOLTAR PARA A HOME */
.back-button__href {
  background: var(--quaternary);
  border-radius: 7px;
  color: var(--primary);
  display: block;
  width: max-content;
  transition: 0.2s linear;
  position: fixed;
  z-index: 9;
}

@media (min-width: 1026px) {
  .back-button__href {
    font-size: 13px;
    line-height: 13px;
    padding: 12px 15px 10px 15px;
    top: 130px;
  }

  .back-button__href:hover {
    background: var(--fifth);
  }
}
@media (max-width: 1025px) {
  .back-button__href {
    font-size: 12px;
    line-height: 12px;
    padding: 8px 10px 7px 10px;
    top: 70px;
  }
}

.back-button__href:before {
  content: "\f053";
  font-family: FontAwesome;
  margin-right: 5px;
}
@media (min-width: 1026px) {
  .back-button__href:before {
    font-size: 13px;
    line-height: 13px;
  }
}
@media (max-width: 1025px) {
  .back-button__href:before {
    font-size: 12px;
    line-height: 12px;
  }
}

/* Botão que está nas paginas individuais de cada serviço e na página outsourcing */
.form-talk__button {
  background: var(--tertiary);
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  color: var(--primary);
  width: 100%;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: 0.2s linear;
  margin: 50px auto 20px auto;
  cursor: pointer;
}
@media (min-width: 1026px) {
  .form-talk__button {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 25px 12px 25px;
    max-width: 348px;
  }

  .form-talk__button:hover {
    background: var(--fifth);
    border: 1px solid var(--fifth);
  }
}
@media (max-width: 1025px) {
  .form-talk__button {
    padding: 18px 25px 14px 25px;
    font-size: 16px;
    line-height: 16px;
    max-width: 290px;
  }
}

.page-service-individual .contact,
.page-outsourcing .contact {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.page-service-individual .contact.contact-open,
.page-outsourcing .contact.contact-open {
  transition: all 0.6s ease-in-out;
  opacity: 1;
  height: auto;
  max-height: 999px;
  overflow: hidden;
  padding: 55px 0;
}

.page-service-individual .footer,
.page-outsourcing .footer {
  transition: all 0.6s ease-in-out;
}
.page-service-individual .footer.footer-close,
.page-outsourcing .footer.footer-close {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.form-talk__open {
  background: var(--secondary);
  border: 1px solid var(--secondary);
}
