/* GERAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: var(--font-main-light);
}

html,
body,
main {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
}

ul li {
  list-style: none;
}

/* FONTES  */
@font-face {
  font-family: "Effra";
  src: URL("../fonts/Effra_Std_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Effra regular";
  src: URL("../fonts/Effra\ Regular/EffraRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Effra light";
  src: URL("../fonts/Effra\ Light/EffraLight.ttf") format("truetype");
}

/* VARIAVEIS */
:root {
  /* CORES  */
  --primary: #fff;
  --secondary: #68478d;
  --tertiary: #5ebca4;
  --quaternary: #ef7b5e;
  --fifth: #a263e8;
  --sixth: #707070;

  --bg-main: #222222;
  --bg-secondary: #000000;

  /* FONTES */
  --font-main: "Effra";
  --font-main-regular: "Effra regular";
  --font-main-light: "Effra light";
}

.content {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
